
<style>
    
    .xtra-info{
        text-align:center;
        top:0;
        left:0;
        padding:0;
        margin:0;
        width:100%;
        height:4rem;
        padding:0 0 0.25rem 0;
        color:#FFFFFF;
        background-color: #000000;
        z-index:0;
      }
    
      .xtra-info ul{
        list-style: none;
        padding: 0;
        margin: 0;
      }
    
      .xtra-info ul li{
        display:inline-block;
        margin-right:5rem;
        text-transform:uppercase;
        font-size:1.2rem;
        height:3rem;
      }
    
      .xtra-info ul li:nth-child(1){
       width:86px;
       background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/location.png?v=1631750323);
      }
      .xtra-info ul li:nth-child(2){
        width:112px;
        background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/phone.png?v=1631750323);
      }
      .xtra-info ul li:nth-child(3){
        width:102px;
        background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/num.png?v=1631750323);
      }
      .xtra-info ul li:nth-child(4){
        width:97px;
        background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/hours.png?v=1631750323);
      }
    
      .xtra-info ul li a{
        color:transparent;
        text-decoration:none;
      }

</style>

<!-- Big Boy xtra info -->
 <div class="xtra-info">	
 <ul>
   <li class="location"><a href="location.html">Location</a></li>
   <li class="phone"><a href="tel:+18188439334">818.843.9334</a></li>
   <li class="num"><a href="history/conservancy.html">CA #P779</a>&nbsp;</li>
   <li class="hours"><a href="history/open-24-hours.html">Open 24/7</a></li>
   </ul>
 </div>