
{{ 'animate.min.css' | asset_url | stylesheet_tag }}

<div class="pop-up-container">


    <div class="form-container">

        <!-- close button -->

        <div class="close">
            {% render 'icon-times-solid' %}
        </div>

        <!-- left column -->
        <div class="left-col"></div>

        <!-- Right column -->
        <div class="form">

            <div class="input">
                <h1>Enter to Win </h1>
                <p>A pair of tickets to the Beach Boys at the Hollywood Bowl!</p>
                <p class="errormsg">Please enter a valid e-mail address.</p>

                <div class="name">

                    <input id="firstName"
                    type="text" 
                    placeholder="First Name"/>

                    <input id="lastName"
                        type="text" 
                        placeholder="Last Name"/>
                </div>

                <div class="email">

                    <div class="email-container">

                        <input 
                            id="email"  
                            type="email" 
                            placeholder="Email"/>

                        <div class="submit_btn"> 
                            Submit
                        </div>

                    </div>

                </div>
            </div>

            <div class="subscribed">
                <h1>Thanks!</h1>
            </div>
            
        </div>
    
    </div>
   
</div>

<script src="{{ 'subscribe-pop-up.js' | asset_url }}" defer="defer"></script>