<!-- Big Boy xtra info -->
 <div class="xtra-info">	
 <!-- ><div class="free-shipping">  Free domestic shipping on orders over $150 </div> -->
 <ul>
   <li class="location">
      <a href="https://www.google.com/maps/dir/4211+W+Riverside+Drive+Burbank+CA+91505" target="_blank">
        <span class="icon">
          {% render 'header-location-icon' %}
        </span>
        <span class="label">Location</span>
        <span class="visually-hidden">Link opens in a new window</span>
      </a>
  </li>

   <li class="phone">
    <a href="tel:+18188439334">
        <span class="icon">
          {% render 'header-phone-icon' %}
        </span>
        <span class="label">818.843.9334</span>
    </a>
  </li>

   <li class="space"></li>

   <li class="num">
      <a href="/pages/california-p779">
        <span class="icon">
          {% render 'header-num-icon' %}
        </span>
        <span class="label">CA #P779</span>
      </a>
    </li>

   <li class="order">
    <a href="https://bobsbigboy.hrpos.heartland.us/" target="_blank">
      <span class="icon">
        {% render 'header-order-icon' %}
      </span>
      <span class="label">Order</span>
      <span class="visually-hidden">Link opens in a new window</span>
    </a>
  </li>

   </ul>
 </div>