<!-- Big Boy xtra info -->
 <div class="xtra-info">	
 <ul>
   <li class="location"><a href="https://www.google.com/maps/dir/4211+W+Riverside+Drive+Burbank+CA+91505" target="_blank">Location</a></li>
   <li class="phone"><a href="tel:+18188439334">818.843.9334</a></li>
   <li class="space"></li>
   <li class="num"><a href="/pages/california-p779">CA #P779</a>&nbsp;</li>
   <li class="hours"><a href="/pages/open-24-hours">Open 24/7</a></li>
   </ul>
 </div>