<!-- Big Boy xtra info -->
 <div class="xtra-info">	
 <ul>
   <li class="location"><a href="location.html">Location</a></li>
   <li class="phone"><a href="tel:+18188439334">818.843.9334</a></li>
   <li class="logo"> <a href="/"> {{ 'logo.svg' | asset_url | img_tag }} </a> </li>
   <li class="num"><a href="history/conservancy.html">CA #P779</a>&nbsp;</li>
   <li class="hours"><a href="history/open-24-hours.html">Open 24/7</a></li>
   </ul>
 </div>