<!-- Big Boy xtra info -->
 <div class="xtra-info">	
 <ul>
   <li class="location">
      <a href="https://www.google.com/maps/dir/4211+W+Riverside+Drive+Burbank+CA+91505" target="_blank">
        <div class="icon-label">
          {% render 'header-location' %}
        </div>
        <div class="icon">
          {% render 'header-location-icon' %}
        </div>
      </a>
  </li>

   <li class="phone">
    <a href="tel:+18188439334">
        <div class="icon-label">
          {% render 'header-phone' %}
        </div>
        <div class="icon">
          {% render 'header-phone-icon' %}
        </div>
    </a>
  </li>

   <li class="space"></li>

   <li class="num">
      <a href="/pages/california-p779">
        <div class="icon-label">
          {% render 'header-num' %}
        </div>
        <div class="icon">
          {% render 'header-num-icon' %}
        </div>
      </a>
    </li>

   <li class="hours">
    <a href="https://bobsbigboy.hrpos.heartland.us/" target="_blank">
      <div class="icon-label">
        {% render 'header-order' %}
      </div>
      <div class="icon">
        {% render 'header-order-icon' %}
      </div>
    </a>
  </li>

   </ul>
 </div>