<div class="free-shipping">
    <div class="desktop">Free Domestic Shipping on all orders over $150!</div>

    <div class="mobile-left">Free US Shipping </div> 
    <div class="mobile-right">Orders Over $150!</div>

 </div>