{{ 'game-8-ball.css' | asset_url | stylesheet_tag }}

<div class="landing-container">

    <section class="stage">
        <figure class="ball">
          <span class="shadow"></span>
          <span class="eight"></span>
        </figure>
      </section>

</div>