<div class="hero-scroll">

    <div id="big-boy-header" class="header-b-boy">

        <!-- -->
        <div class="big-boy-container">
            {{ 'big-boy-full.png' | asset_url | img_tag:"Big Boy Statue"}}
        </div>
   
        

    </div>
      

    <div  class="frame-1 frame"></div>
    <div  class="frame-2 frame"></div>
    <div  class="frame-3 frame"></div>
    <div  class="frame-4 frame"></div>
    <div  class="frame-5 frame"></div>
    <div  class="frame-6 frame"></div>
</div>