<div class="hero-scroll">

    <div id="coupon"></div>

    <div id="big-boy-header" class="header-b-boy">

        <div class="big-boy-container">
            {{ 'big-boy-full.png' | asset_url | img_tag }}
        </div>
   
    </div>
    
    <!-- Old Poster frame -->
    <video playsinline autoplay muted poster="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/hero-poster-frame-blur.jpg?v=1662312419" id="bgvid">
        <source src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Home.mov?v=1648604005" type="video/mp4">
    </video>
    
</div>