<div class="hero-scroll">
    <div  class="frame-1 frame"></div>
    <div  class="frame-2 frame"></div>
    <div  class="frame-3 frame"></div>
    <div  class="frame-4 frame"></div>
    <div  class="frame-5 frame"></div>
    <div  class="frame-6 frame"></div>
</div>