<div class="hero-scroll">
    <div id="big-boy-header" class="header-b-boy">
        <div class="big-boy-container">
           <img src="https://www.bobsburglar.com/img/bob-burgler.png" />
        </div>
    </div>
</div>