{{ 'landing-social.css' | asset_url | stylesheet_tag }}

<div id="app">
    <div v-if="ready" >
        <div class="landing-container">


            <div class="logo"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-landing-logo.png?v=1681859802"> </div>


            <div class="form-container">

                <div class="big-boy">
                    <div class="big-boy-container">
                        <div class="boy"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-boy.svg?v=1682382250">  </div>
                        <div class="arm"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-arm.svg?v=1682382250">  </div>
                    </div>
                </div>

        
                <div class="form">
                    <h1>Join Now!</h1>
                    <div v-if="!email.sending">

                        <div class="name">

                            <input v-model="firstName" 
                            type="text" 
                            placeholder="First Name"/>

                            <input v-model="lastName" 
                                type="text" 
                                placeholder="Last Name"/>
                        </div>

                        <div class="email" 
                            :class="{'error': !email.valid}">

                            <div class="email-container">

                                <input v-model="email.address" 
                                    id="email"  
                                    type="email" 
                                    placeholder="Email"
                                    v-on:keyup.enter="addEmail()"
                                    @focus="resetEmail()"/>

                                <div class="submit_btn" 
                                    @click="addEmail()"> 
                                    Submit
                                </div>

                            </div>

                        </div>

                    </div>
                    <div v-if="email.sending" class="sending"> Sending... </div>
                </div>
            
            </div>
           
            <div class="bg">
                <div class="star green"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-landing-star-green.svg?v=1681859802"> </div>
                <div class="star orange"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-landing-star-orange.svg?v=1681859802"> </div>
                <div class="star rose"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-landing-star-rose.svg?v=1681859802"> </div>
                <div class="star jap"> <img src="https://cdn.shopify.com/s/files/1/0593/5942/8759/files/social-landing-star-pink-star.svg?v=1681859802"> </div>
    
            </div>

        </div>
    </div>
</div>



<script src="{{ 'vue@3.0.11.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'landing-social.js' | asset_url }}" defer="defer"></script>