<style>
    .landing-container{
        display:flex;
        width:100vw;
        height:100vh;
        justify-content:center;
        align-items:center;
    }
    .landing-container h1{
        font-size:clamp(20px, 20vw, 72px);
    }
</style>

<div class="landing-container">
    <h1>Bob's Spice PlaceHolder</h1>
</div>