<div class="not-found page-width page-margin center">

  <div>
      <h1 class="title">
        {{ 'templates.404.subtext' | t }}: {{ 'templates.404.title' | t }}
      </h1>

      <a href="{{ routes.all_products_collection_url }}" class="button">
        {{ 'general.continue_shopping' | t }}
      </a>  
  </div>

  {%- render 'original-b-boy' -%}

</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
