{{ 'spin-2-win.css' | asset_url | stylesheet_tag }}

<!--- SPIN 2 WIN 
{% form 'contact' %}
  --->  
    <div class="spin-win">

        <div class='bg'>  
     
            <!-- confirm email -->
            {% if form.posted_successfully? %}
                <div class="claimed"> 
                    <div>
                        Comment posted successfully!<br/>
                        <a data-ref="{{ routes.root_url }}discount/" href=""> Use your code now!</a>
                    </div>
                </div>
                
            {% else %}

            <div id="title">
                <h2>Spin to Win</h2>
                <span>Spin the wheel for a chance to win!</span>
            </div>

            <!-- Spin the wheel -->
            <div class="game">

                <div id="spin">

                    <div class="triangle"></div>
                    <div id="mainbox" class="mainbox">

                        <div id="box" class="box">

                            <div class="box1">
                                <span class="top"><b class="noselect">25% off</b></span>
                                <span class="right"><b class="noselect">20% off</b></span>
                                <span class="left"><b class="noselect">15% off</b></span>
                                <span class="bottom"><b class="noselect">10% 0ff</b></span>
                            </div>

                            <div class="box2">
                                <span class="top"><b class="noselect">Beef Patty </b></span>
                                <span class="right"><b class="noselect">Free Stickers</b></span>
                                <span class="left"><b class="noselect">Free Emoji</b></span>
                                <span class="bottom"><b class="noselect">Free Postcard</b></span>
                            </div>
                    
                        </div>

                        <button class="spin-btn noselect" onclick="spin()">SPIN</button>
                    </div>

                </div>
                
                <!-- Collect e-mail -->
                <div id="win">

                    <div class="email">
                        <input id="email"  type="email" name="contact[email]" placeholder="Enter your email address"/>
                        <input id="submit_btn" type="submit" value="Create" />
                    </div>

                    <div class="prize">
                        <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Giftcard.png?v=1638921067' width="auto" height="auto" loading="lazy" />
                    </div>

                </div>

            </div>
    
            {% endif %}
                   
            <!-- -->
            <div class="gameboy">
                <img src='https://cdn.shopify.com/s/files/1/0593/5942/8759/files/menu-boy.png?v=1631997538' width="auto" height="auto" loading="lazy" />
            </div>

            <div class="checkerboard"></div>


        </div>

    </div>
<!-- 
{% endform %}
-->


<script src="{{ 'spin-2-win.js' | asset_url }}" defer="defer"></script>