
{{ 'wishlist.css' | asset_url | stylesheet_tag }}

<div id="wish-list-drawer" class="wish-list">

    <!-- start app -->

    
            <div id="wish-list-header" class="">
                <div class="close"> 
                    {% render 'icon-times-solid' %}
                </div>
                <h3>Wishlist</h3>

                <div class="account">
                   
                </div>

                <div class="sign-on">
                    <div class="e-mail-input">
                        <label for="wsEmail">HTML</label><br>
                        <input id="emailAddress"type="text" name="wsEmail" v-bind="email.address" placeholder="Enter your e-mail" /> 
                        <button>Enter</button>
                    </div>
                    <p></p>
                </div>

                <div class="sending">
                    <div class="icon">{% render 'icon-spinner-third' %}</div> <div>Sending...</div>
                </div>

            </div>

            <ul class="product-list">
               
            </ul>


</div>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
