<div id="wish-list-drawer" class="wish-list">

    <div class="wish-list-header">
        <h1>Wish list</h1>
        <div class="account">f-name, l-name, email@e-mail.com</div>
        <div class="sign-on">
            <div class="e-mail-input">
                <input type="text" placeholder="Enter your e-mail" /> <button>Enter</button>
            </div>
            <p>Enter your e-mail address to activate & save your wishlist.</p>
        </div>
    </div>

    <ul class="product-list">
        <li>Product Placeholder</li>
    </ul>

</div>

<style>

    .wish-list{
    }

    .wish-list .wish-list-header{
    }

    .wish-list .account{
    }

    .wish-list .sign-on{
    }

    .wish-list .email-input{
    }

    .wish-list .product-list{
    }

</style>

<script>
    console.log('wish list ready');
</script>