h1.main-page-title.page-title.h0 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #e62544;
    margin: 0;
    padding: 0.75rem;
    border-bottom: #b79668 1px solid;
}

.swiper-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rte ul.swiper-wrapper {
    padding-left: 0rem;
}

.swiper-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    height: calc(100vh - 117px);
}


.swiper-slide {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   

    /* no select*/
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

/*--------------- inline product --------------*/

.swiper-slide.inline-product,
.swiper-slide.inline-random-product{
    background-color: #fff;
    width:100%;
    max-width:350px;
    margin:0 auto;
    padding:0;
    display:flex;
    justify-content: flex-start;
}

.swiper-slide.inline-collection,
.swiper-slide.inline-recent-products{
    background-color: #fff;
    width:100%;
    margin:0 auto;
    padding:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.swiper-slide.inline-collection .appened-product,
.swiper-slide.inline-recent-products .appened-product{
    flex: 1 1 30%;
}


.swiper-slide .appened-product{
    align-self: center;
    margin:1rem;
    padding:0;
    flex-grow: 1;
    transition: all .25s ease;
}


.swiper-slide .appened-product:hover{
    transform: scale(1.05);
    text-decoration: none !important;
}

.swiper-slide .appened-product .appened-image{
    width:100%;
    padding: calc(100% - 3.5rem) 0 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}


.swiper-slide .appened-product .title{
    margin:0;
    padding:0;
    text-align: center;
    color:#000;
    font-size: 2rem;
    height:3.5rem;
}


@media screen and (max-width: 1024px) {

    .swiper-slide.inline-collection{
        display:block;
    }
    .swiper-slide.inline-collection .appened-product{
        width:100%;
        display:block;
    }
}

/* ----------------------------------------------------------- */

.swiper-button-next {
    margin-right: 3rem;
}

.swiper-button-prev {
    margin-left: 3rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(225, 225, 225);
    transition: all 0.25s ease;
    z-index: 1;
}

.swiper-pagination{
    z-index: 1;
}


.swiper-button-next:hover {
    margin-right: 2rem;
}

.swiper-button-prev:hover {
    margin-left: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: scale(1.4);
}

/* featured -----------------*/

.swiper-featured{
}
.swiper-featured .swiper-slide{
    height: 100%;
    width: 100%;
}

.swiper-featured .swiper-slide .slide-content{
    width:90vw;
    height:70vh;
    margin:0 auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.swiper-featured .swiper-slide a{
    display:block;
    text-decoration: none;
    height:auto;
}

.swiper-pagination-bullet-active{
    background-color:#e62544;
}

.featured-button-next,
.featured-button-prev{
    color:#e62544;
}

.swiper-featured h3{
    font-family: "Harvard";
    text-transform: capitalize;
    padding:0 0 0 0;
    margin:5rem 0 2rem 0;
    text-align: center;
    font-size: 6.5rem;
    line-height:6.5rem;
    height: 7rem;
    letter-spacing: 0rem;
    color: #e62544;
    background-color: #fff;
}


@media screen and (max-width: 520px) {
    .swiper-featured h3{
        font-size: 12vw;
    }

    .swiper-button-next.featured-button-next,
    .swiper-button-prev.featured-button-prev{
       display:none;
    }

    .featured-button-next {
        margin-right: .5rem;
    }
    
    .featured-button-prev {
        margin-left: .5rem;
    }
    

}

