/* ------ Bobs secondary page styles ------------ */

/* Fonts --------------------
AvenirNextLTPro-Medium
AvenirNextLTPro-Bold
RoadRadio-Black
TradeGothicLTStd-Cn18
Harvard
-----------------------------
*/

/*  -------------- secondary navigation --------------------- */

header {
    height: 80px;
}

@media screen and (min-width: 990px) {
    .header__submenu {
        height: 40rem;
        margin: 0;
        padding: 0;
    }

    .header__submenu li {
        position: relative;
        vertical-align: top;
        width: 22vw;
        max-width: 25rem;
        max-height: 35rem;
        padding: 0;
        margin: 1rem 1rem 1rem 1rem;
        vertical-align: top;
        display: inline-block;
    }

    .header__submenu li a {
        position: relative;
        display: block;
        padding: 0 !important;
        margin: 0;
    }

    .header__submenu .header__menu-item {
        padding: 0;
    }

    .header__submenu li a .nav-image {
        position: relative;
        display: block;
        width: 100%;
        height: 20rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__submenu li a .nav-title {
        position: relative;
        display: block;
        margin-top: 1rem;
        width: 100%;
        font-size: 1.8rem;
    }

    .header__submenu summary.header__menu-item {
        margin: 0 0 1rem 0;
    }

    .list-menu .list-menu .list-menu.header__submenu {
        text-align: left;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    .list-menu .list-menu .list-menu.header__submenu li {
        margin: 0;
        padding: 0 0 0.5rem 0;
    }

    /* -------- images bg's if you rearrange the nav the order will change ----------------- */

    /* history -------------------------------------------------------------------- */

    .list-menu li.nav-history .header__submenu li {
        margin: 4.5rem 1rem 1rem 1rem;
    }

    .list-menu li.nav-history .header__submenu li.nav-opening .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/history.jpg?v=1631569447");
    }

    .list-menu li.nav-history .header__submenu li.nav-architecture .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/mcallister.jpg?v=1631569696");
    }

    .list-menu li.nav-history .header__submenu li.nav-the-beatles-booth .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/beatles.jpg?v=1631569766");
    }

    .list-menu li.nav-history .header__submenu li.nav-filming-heat .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Val-Kilmer-Robert-DeNiro-Bobs-Big-Boy-HEAT.jpg?v=1631569894");
    }

    /* menus -------------------------------------------------------------------- */
    .list-menu li.nav-menus .header__submenu li.nav-burgers .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/burger.jpg?v=1633037381");
        background-size: contain;
        margin: 5rem 1rem 1rem 1rem;
    }

    .list-menu li.nav-menus .header__submenu li.nav-milkshakes .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/milkshake.jpg?v=1633037393");
        background-size: contain;
        height: 25rem;
        margin: 0 1rem 1rem 1rem;
    }

    .list-menu li.nav-menus .header__submenu li.nav-breakfast,
    .list-menu li.nav-menus .header__submenu li.nav-lunch-dinner {
        margin: 2.5rem 1rem 1rem 1rem;
    }
    .list-menu li.nav-menus .header__submenu li.nav-breakfast li:last-child a,
    .list-menu li.nav-menus .header__submenu li.nav-lunch-dinner li:last-child a {
        margin-top: 1rem;
        color: #e62544;
    }

    /* events -------------------------------------------------------------------- */

    .list-menu li.nav-events .header__submenu li.nav-classic-car-show .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Bobs-Big-Boy-Hot-Rod.jpg?v=1631872538");
    }

    .list-menu li.nav-events .header__submenu li.nav-big-boy-blog li:last-child a {
        margin-top: 1rem;
        color: #e62544;
    }

    /* photos */
    .list-menu li.nav-photos .header__submenu li {
        margin: 6rem;
    }
    .list-menu li.nav-photos .header__submenu li.nav-outside .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/outside.jpg?v=1633039885");
    }

    .list-menu li.nav-photos .header__submenu li.nav-food .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/food.jpg?v=1633039899");
    }

    .list-menu li.nav-photos .header__submenu li.nav-inside .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/inside.jpg?v=1633039872");
    }

    /* shop */
    .list-menu li.nav-shop .header__submenu li.nav-apparel li:last-child a,
    .list-menu li.nav-shop .header__submenu li.nav-merchandise li:last-child a {
        margin-top: 1rem;
        color: #e62544;
    }

    .list-menu li.nav-shop .header__submenu li.nav-seasoning-salt .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/salt.jpg?v=1633039926");
        background-size: contain;
        margin-top: 7rem;
    }

    .list-menu li.nav-shop .header__submenu li.nav-11-plushie .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/plushie.jpg?v=1633039913");
        background-size: contain;
        height: 27rem;
    }

    .list-menu li.nav-shop .header__submenu li.nav-apparel,
    .list-menu li.nav-shop .header__submenu li.nav-merchandise {
        margin-top: 7rem;
    }
}

/*  -------------------------------------------------- */

h1.main-page-title.page-title.h0,
h1.collection-hero__title,
.main-blog h1.title--primary {
    font-family: "TradeGothicLTStd-Cn18";
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #e62544;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.75rem;
    border-bottom: #b79668 1px solid;
}

.home-page section {
    min-height: calc(100vh - 117px);
}

section.shopify-section {
    margin: 0;
}

.bob-page-content section {
    margin-top: 10rem;
    text-align: center;
}

.bob-page-content section:first-child {
    border: 1px solid transparent;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.bob-page-content section h3 {
    font-family: "Harvard";
    width: 100%;
    text-align: center;
    font-size: 8.5rem;
    letter-spacing: 0rem;
    line-height: 0;
    color: #e62544;
}

.bob-page-content section .col {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 45%;
    margin: 0 1.5rem;
}

@media screen and (max-width: 990px) {
    .bob-page-content section {
        margin: 5rem;
    }
    .bob-page-content section .col {
        display: block;
        width: 100%;
        margin: 0;
    }
}

.bob-page-content section .col p {
    margin: 0 0 2rem 0;
    font-size: 1.8rem;
    line-height: 2.3rem;
}

.bob-page-content section .col p strong {
    font-family: "AvenirNextLTPro-Bold";
}

.bob-page-content section .col a {
    text-decoration: none;
    color: #b79668;
}

.bob-page-content section .col a:hover {
    text-decoration: underline;
    color: #e62544;
}

.bob-page-content img {
    width: 100%;
    height: auto;
}

.bob-page-content section .col .bob-box {
    padding: 3rem 4rem;
    border: 4px solid #b79668;
    margin-bottom: 4rem;
    list-style-type: none;
}

.bob-page-content section .col .bob-box h3,
.bob-page-content section h4 {
    font-family: "AvenirNextLTPro-Bold";
    text-align: left;
    font-size: 2.5rem;
    line-height: 2rem;
    color: #000000;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 1.5rem 0;
}

.bob-page-content section .col .bob-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bob-page-content section .col .bob-box ul li a {
    display: block;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #000000;
}

.bob-page-content section .col .pull-quote {
    margin: 3rem 0 0 0;
    text-align: center;
}

.bob-page-content section .col .pull-quote cite {
    display: block;
    padding: 3rem;
    font-style: normal;
    font-family: "AvenirNextLTPro-Bold";
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 0 2rem 0;
}

.bob-page-content section .col .pull-quote strong {
    font-family: "AvenirNextLTPro-Bold";
}

.bob-page-content section .col ul.inline-list {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    vertical-align: top;
}

.bob-page-content section .col ul.inline-list li:first-child {
    margin-right: 3rem;
}

.bob-page-content section .col ul.inline-list li {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

@media screen and (max-width: 990px) {
    .bob-page-content section .col ul.inline-list li {
        display: block;
        width: 100%;
        margin: 0 0 1.5rem 0;
    }
}

.bob-page-content section .col ul.inline-list li ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bob-page-content section .col ul.inline-list li ul li {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2rem;
}

/* ------- Bobs menu page styles ------------- */

.bob-page-content.menu-header .lunch,
.bob-page-content.menu-header .breakfast {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc((100vh - 117px) / 2);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bob-page-content.menu-header h3 {
    font-family: "Harvard";
    font-size: 5.2rem;
}

.bob-page-content.menu-header .lunch {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/lunch.jpg?v=1631907771");
}
.bob-page-content.menu-header .breakfast {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/breakfast.jpg?v=1631907771");
}

.bob-page-content.menu-header h3 {
    display: block;
    font-size: 10rem;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.bob-page-content.menu-header a {
    color: #ffffff;
}
.bob-page-content.menu-header a:hover {
    color: #ffffff;
}

/* menus */

.bob-page-content.menu section {
    padding-top: 175px;
    margin: 0 10rem 0 10rem;
}

.bob-page-content.menu h3 {
    font-family: "RoadRadio-Black";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 6.5rem;
    padding: 0;
    margin: 0 0 5rem 0;
    text-align: center;
    width: 100%;
}

.bob-page-content.menu h3 small {
    font-size: 2rem;
}

.bob-page-content.menu .menu-description {
    font-style: italic;
    padding: 0;
    margin: 0;
}

.bob-page-content.menu ul {
    margin: 0;
    padding: 0;
}

.bob-page-content.menu ul li {
    vertical-align: top;
    display: inline-block;
    width: 45%;
    margin: 2rem;
    line-height: 2.3rem;
    font-weight: 700;
}

.bob-page-content.menu ul li h4 {
    text-align: center;
    font-size: 2.6rem !important;
    line-height: 3.5rem;
}

@media screen and (max-width: 990px) {
    .bob-page-content.menu ul li {
        display: block;
        width: 100%;
        margin: 2rem 0 2rem 0;
    }
}

.bob-page-content.menu ul li h4 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.9rem;
    padding: 0;
    margin: 0 0 1rem 0;
}

.bob-page-content.menu ul li h4 sup {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.bob-page-content.menu ul li p {
    padding: 0;
    margin: 0 0 0 0;
    font-size: 1.7rem;
    font-weight: 500;
}

.bob-page-content.menu .double-border {
    margin-top: 5rem;
    padding: 3rem;
    border-top: 4px #b79668 solid;
    border-bottom: 4px #b79668 solid;
    vertical-align: middle;
}

.bob-page-content.menu .double-border.two-col li {
    width: 45%;
}

@media screen and (max-width: 990px) {
    .bob-page-content.menu .double-border.two-col li {
        width: 100%;
    }
}

.bob-page-content.menu .double-border.big-boy {
    position: relative;
    padding: 3rem 3rem 3rem 25rem;
}

.bob-page-content.menu .double-border.big-boy li:nth-child(1) {
    position: absolute;
    width: 25rem;
    top: -8rem;
    left: 5rem;
}

.bob-page-content.menu .double-border.big-boy li {
    width: 30%;
}

@media screen and (max-width: 990px) {
    .bob-page-content.menu .double-border.big-boy {
        position: relative;
        padding: 3rem;
    }

    .bob-page-content.menu .double-border.big-boy li:nth-child(1) {
        display: none;
    }

    .bob-page-content.menu .double-border.big-boy li {
        width: 100%;
    }
}

.bob-page-content.menu .double-border li,
.bob-page-content.menu .big-boy-box li {
    width: auto;
}

.bob-page-content.menu .big-boy-box,
.bob-page-content.menu .menu-box {
    position: relative;
    border: 4px #b79668 solid;
}

.bob-page-content.menu .menu-box {
    padding: 2.5rem;
}

.bob-page-content.menu .big-boy-box {
    padding: 2rem 1rem 2rem 1rem;
}

.bob-page-content.menu .big-boy-title {
    display: inline-block;
    width: auto;
}

.bob-page-content.menu .big-boy-title span:nth-child(2) {
    margin-left: 12rem;
}

.bob-page-content.menu .big-boy-box .big-boy {
    position: absolute;
    margin: 0 auto;
    left: -5rem;
    right: 0;
    top: -8.5rem;
    width: 20rem;
}

.bob-page-content.menu .big-boy-box li:first-child {
    width: 30%;
    padding: 0 5rem 0 0;
    margin: 0 12rem 0 0;
}

.bob-page-content.menu .big-boy-box li:last-child {
    width: 30%;
    padding: 0 0 0 3rem;
    margin: 0 0 0 12rem;
}

@media screen and (max-width: 990px) {
    .bob-page-content.menu .big-boy-title span:nth-child(2) {
        margin-left: 3rem;
    }

    .bob-page-content.menu .big-boy-box .big-boy {
        display: none;
    }

    .bob-page-content.menu .big-boy-box li:first-child {
        width: 100%;
        padding: 2.5rem;
        margin: 0;
    }

    .bob-page-content.menu .big-boy-box li:last-child {
        width: 100%;
        padding: 2.5rem;
        margin: 0;
    }
}

.bob-page-content.menu .double-border.famous-chili li {
    width: 45%;
}

@media screen and (max-width: 990px) {
    .bob-page-content.menu .double-border.famous-chili li {
        width: 100%;
    }
}

.bob-page-content.menu .disclaimer {
    margin: 5rem 0 0 0;
}

.bob-page-content.menu .disclaimer p {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
}

.bob-page-content.menu .disclaimer p:nth-child(1),
.bob-page-content.menu .disclaimer p:nth-child(2) {
    font-size: 2.3rem;
    line-height: 3rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}

.bob-page-content.menu .disclaimer p:nth-child(2) {
    color: #e62544;
}

.bob-page-content.menu .disclaimer ul li {
    width: 25%;
    font-weight: 200;
}

.bob-page-content.menu .disclaimer ul li:nth-child(2) {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.bob-page-content.menu .disclaimer ul li:nth-child(2) sup {
    color: #e62544;
    font-size: 2.8rem;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

@media screen and (max-width: 990px) {
    .bob-page-content.menu .disclaimer ul li {
        width: 100%;
        font-weight: 200;
    }
}

/* ----------------------------- events styles ----------------------------- */
.bob-page-content.events .big-image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 450px;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bob-page-content.events h4 {
    color: #e62544;
}

.bob-page-content.events h4 sup {
    font-size: 1rem;
}

.bob-page-content.events .fundraising {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Fundraise-With-Bobs-Big-Boy-Burbank.jpg?v=1631872814");
}

.bob-page-content.events .film {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Heat-Filmed-At-Bobs-Big-Boy-Burbank.jpg?v=1631872814");
}

.bob-page-content .big-image h3 {
    text-transform: uppercase;
    font-size: 6rem;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.bob-page-content .big-image p a {
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #e62544;
    color: #ffffff;
}

/* forms ---------------------- */

.bob-page-content.events.form section {
    width: 90vw;
    margin: 0 auto;
}

.bob-page-content.events.form section h3 {
    font-family: "RoadRadio-Black";
    font-size: 8rem;
    line-height: 7rem;
    margin: 5rem 0 0 0;
    display: block;
}

.bob-page-content.events.form section form {
    margin-top: 5rem;
}

.bob-page-content.events.form section fieldset {
    text-align: left;
    margin-bottom: 2rem;
    border: none;
}

.bob-page-content.events.form section legend {
    font-family: "AvenirNextLTPro-Bold";
    font-size: 2rem;
    text-transform: uppercase;
}

.bob-page-content.events.form section input,
.bob-page-content.events.form section textarea {
    padding: 1.5rem;
    font-size: 1.8rem;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 0.5rem;
    border: 1px solid #cccccc;
    width: 100%;
}

.bob-page-content.events.form section select {
    padding: 1.5rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    border: 1px solid #cccccc;
}

.bob-page-content.events.form section button {
    padding: 1.5rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    background-color: #e62544;
    color: #ffffff;
    border: 1px solid #cccccc;
    width: 100%;
}

.bob-page-content.events.form section fieldset.contact input {
    width: calc(50% - 0.5rem);
}

.bob-page-content.events.form section fieldset.phone input {
    width: calc(33% - 0.5rem);
}

.bob-page-content.events.form section .city-state input {
    width: calc(50% - 0.5rem);
}

.bob-page-content.events.form section fieldset.time input {
    width: calc(30% - 0.5rem);
}

.bob-page-content.events.form section label span {
    display: block;
}

/* ----------------------------- blog styles ----------------------------- */

article.article-template {
    margin: 0 5rem;
}

/* ----------------------------- store styles ----------------------------- */
.vendor {
    font-family: "AvenirNextLTPro-Bold";
    font-size: 2rem;
    color: #e62544;
}

h1.product__title {
    font-family: "AvenirNextLTPro-Bold";
}

.product__info-container .price-item {
    font-size: 3rem;
}

/* ----------------------------- footer link styles ----------------------------- */
.bob-page-content.site-map section,
.bob-page-content.privacy section,
.bob-page-content.faq section {
    text-align: left;
}

.bob-page-content.site-map ul {
    list-style: none;
}
.bob-page-content.site-map ul li a {
    color: #e62544;
    font-size: 2.5rem;
    text-decoration: none;
}

/* ------- mobile styles ------------- */

@media screen and (max-width: 750px) {
    .bob-page-content section .col {
        display: block;
        width: 100%;
        margin: 5rem;
    }
}

@media screen and (min-width: 990px) {
    .overflow-hidden-tablet {
        overflow: auto;
    }
}
