.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}


.list-social__link {
  align-items: left;
  display: flex;
  transition: all .25s ease;
}

.list-social__link:hover {
  transform: scale(1.1);
}

.list-social__item .icon {
  height: 2.5rem;
  width: 2.5rem;
  transition: all .25s ease;
}

.list-social__item .icon:hover {
  color: var(--bob-red);
}
