.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  top: 121px;
  left: 0;
  width: 100vw;
  border: 1px solid var(--bob-gold);
  background-color: rgb(var(--color-background));
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: none;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
