
:root{
   --green: #169346;
   --yellow: #f2d117;
   --red: #ec1c3c;
   --blue: #63bee1;
   --black:#000;
}

html,
body{
   padding:0;
   margin:0;
   font-family: "AvenirNextLTPro-Medium";
   background-color:#000;
   color:white;
   height:100vh;
   overflow:hidden;
}

*{
   box-sizing:border-box;
}

h1,h2{
   font-family: 'Harvard';
   letter-spacing: 1px;
}
h1{
   font-size: 42px;
   padding:0;
   margin:0;
}
h2{
   font-size: 28px;
}

.fit{
   width:100%;
   word-wrap: break-word;
}

.landing-container-hv{
   position:relative;
   display:flex;
   width:clamp(370px, 50vw, 800px);
   height:100vh;
   margin:0 auto;
   padding:0;
}

.landing-container-hv .page-continaer-hv{
   margin:0 auto;
   padding:0;
   position:relative;
   width:100%;
}

/* title --------------------------------*/

.landing-container-hv .title{
   width:100%;
   margin: 0 auto;
   z-index:0;
}

/* list --------------------------------*/


.landing-container-hv .list-container.show{
   position:fixed;
   top:0;
   left:0;
   right:0;
   margin:0 auto;
   height: 100vh;
   padding:5vw;
   background-color: var(--green);
   width:100%;
   cursor:pointer;
}

.landing-container-hv .list-container.show .list{
   width:clamp(250px, 35%, 500px);
      position:relative;
      margin:0 auto;
}

.landing-container-hv .list-container.show .close{
   position:absolute;
   top:5vw;
   right:5vw;
   width:2.5rem;
}

/* form --------------------------------*/
.landing-container-hv .form-container{
   position:relative;
   display:flex;
   justify-content:center;
   width:100%;
   height:60vh;
   z-index: 0;
   overflow:visible;
}


.landing-container-hv .form-container .message{
   display:block;
   position:relative;
   text-align: center;
   background-color: var(--green);
   margin: 2rem;
   max-width: 100%;
   min-height: 75%;
   padding:10px;
   border-radius: 20px;
   border:1px solid #fff;
   box-shadow: 0px 0px 33px 3px rgba(56, 40, 33, 0.39);
   z-index:1;
}

.landing-container-hv .form-container .message img{
   width:100%;
   max-width: 300px;
   margin: 0 auto;
}

.landing-container-hv .form-container .message p{
   margin:10px;
   padding:0;
   text-align: center;
   font-size:22px;
   line-height: 28px;
   font-weight: 800;
   color:#382821
}

.landing-container-hv .form-container .message p h2{
   margin:0;
   padding:0;
}

.landing-container-hv .form-container .message p.resend span{
   cursor: pointer;
   text-decoration: underline;
}

.landing-container-hv .form-container .message p.resend span:hover{
   color:red;
}

.landing-container-hv .form-container .form{
   width:90%;
   max-width: 550px;
   z-index:1;
}

.landing-container-hv .form-container .form .form-header{
   text-align: center;
}

.landing-container-hv .form-container .form .form-header p{
   line-height: 22px;
}

.landing-container-hv .form-container .form .prize-btn{
   cursor:pointer;
   width:200px;
   margin:1rem auto;
}

.landing-container-hv .form-container .form .subscribe{
   width:100%;
   background-color:var(--yellow);
   color:var(--black);
   padding:.5rem;
   margin:.5rem .25rem;
   border-radius: 5px;
   box-shadow: -6px 6px 2px 1px var(--blue);

}

.landing-container-hv .form-container .form .subscribe.error{
   border:3px solid red;
   color:red;
}

.landing-container-hv .form-container .form .subscribe input[type="checkbox"]{
   display: inline;
   width:auto;
   accent-color:white
}

.landing-container-hv .form-container .form .error_msg{
   font-size: 26px;
   margin-left:10px;
   color:#ff0000;
}

.landing-container-hv .form-container .form input{
   width:100%;
   font-size: 1.2rem;
   padding:.45rem;
   margin:.25rem;
   border-radius: 5px;
   border: 3px solid var(--yellow);
}

.landing-container-hv .form-container .form .email.error input{
   border:5px solid #ff0000;
   color:#ff0000;
}

.landing-container-hv .form-container .form .submit_btn{
   cursor: pointer;
   width:150px;
   background-color: var(--green);
   text-align:center;
   border-radius: 10px;
   /*border: 3px solid var(--yellow);*/
   margin: 0 auto;
}



/*
@media (max-width: 420px) {
body{
   border:5px red solid;
}
 }
*/
