
:root{
   --green: #169346;
   --yellow: #f2d117;
   --red: #ec1c3c;
   --blue: #63bee1;
   --black:#000;
}

html,
body{
   padding:0;
   margin:0;
   font-family: "AvenirNextLTPro-Medium";
   background-color:#000;
   color:white;
   height:100vh;
   overflow:hidden;
}

*{
   box-sizing:border-box;
}

h1,h2{
   font-family: 'Harvard';
   letter-spacing: 1px;
}
h1{
   font-size: 42px;
   padding:0;
   margin:0;
}
h2{
   font-size: 28px;
}

.fit{
   width:100%;
   word-wrap: break-word;
}

.landing-container-hv{
   position:relative;
   width:100%; 
   height:100vh;
   margin:0 auto;
   padding:0;
}

.landing-container-hv .page-continaer-hv{
   margin:0 auto;
   padding:0;
   position:relative;
   width:100%;
  /* background-color: var(--yellow);*/
}

/* title --------------------------------*/

.landing-container-hv .title {
   width: 120vw; /* Make the width larger than the viewport */
   min-height: 300px; /* Ensure the height stays the same */
   margin: 0 -10vw; /* Negative margins to center the element */
   background-image: url('https://cdn.shopify.com/s/files/1/0593/5942/8759/files/h-v-header-alt.png?v=1727372161');
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: contain;
   background-color: #000;
   border-bottom: 30px solid var(--green);
   z-index: 0;
   overflow: hidden; /* Hide any overflow */
}
/* list --------------------------------*/


.landing-container-hv .list-container.show{
   position:fixed;
   top:0;
   left:0;
   right:0;
   margin:0 auto;
   height: 100vh;
   padding:5vw;
   background-color: var(--green);
   width:100%;
   cursor:pointer;
}

.landing-container-hv .list-container.show .list{
   width:clamp(250px, 35%, 500px);
      position:relative;
      margin:0 auto;
}

.landing-container-hv .list-container.show .close{
   position:absolute;
   top:5vw;
   right:5vw;
   width:2.5rem;
}

/* form --------------------------------*/
.landing-container-hv .form-container{
   position:relative;
   display:flex;
   justify-content:center;
   width:100%;
   height:60vh;
   z-index: 0;
   overflow:visible;
}


.landing-container-hv .form-container .message{
   display:block;
   position:relative;
   text-align: center;
   background-color: var(--green);
   margin: 2rem;
   max-width: 100%;
   min-height: 75%;
   padding:10px;
   border-radius: 20px;
   border:1px solid #fff;
   box-shadow: 0px 0px 33px 3px rgba(56, 40, 33, 0.39);
   z-index:1;
}

.landing-container-hv .form-container .message img{
   width:100%;
   max-width: 300px;
   margin: 0 auto;
}

.landing-container-hv .form-container .message p{
   margin:10px;
   padding:0;
   text-align: center;
   font-size:22px;
   line-height: 28px;
   font-weight: 800;
   color:#382821
}

.landing-container-hv .form-container .message p h2{
   margin:0;
   padding:0;
}

.landing-container-hv .form-container .message p.resend span{
   cursor: pointer;
   text-decoration: underline;
}

.landing-container-hv .form-container .message p.resend span:hover{
   color:red;
}

.landing-container-hv .form-container .form{
   width:90%;
   max-width: 550px;
   z-index:1;
}

.landing-container-hv .form-container .form .form-header{
   text-align: center;
}

.landing-container-hv .form-container .form .form-header p{
   padding-top:25px;
   font-size: 18px;
   line-height: 22px;
}

.landing-container-hv .form-container .form .prize-btn{
   cursor:pointer;
   width:200px;
   margin:1rem auto;
}

.landing-container-hv .form-container .form .subscribe{
   width:100%;
   background-color:var(--yellow);
   color:var(--black);
   padding:.5rem;
   margin:.5rem .25rem;
   border-radius: 5px;
   box-shadow: -6px 6px 2px 1px var(--blue);

}

.landing-container-hv .form-container .form .subscribe.error{
   border:3px solid red;
   color:red;
}

.landing-container-hv .form-container .form .subscribe input[type="checkbox"]{
   display: inline;
   width:auto;
   accent-color:white
}

.landing-container-hv .form-container .form .error_msg{
   font-size: 26px;
   margin-left:10px;
   color:#ff0000;
}

.landing-container-hv .form-container .form input{
   width:100%;
   font-size: 1.2rem;
   padding:.5rem;
   margin:.75rem;
   border-radius: 5px;
   border: 5px solid var(--yellow);
   box-shadow: -6px 6px 2px 1px var(--blue);
}

.landing-container-hv .form-container .form .email.error input{
   border:5px solid #ff0000;
   color:#ff0000;
}

.landing-container-hv .form-container .form .submit_btn{
   cursor: pointer;
   width:150px;
   background-color: var(--green);
   text-align:center;
   border-radius: 10px;
   /*border: 3px solid var(--yellow);*/
   margin: 0 auto;
}





.page-container{
   position:relative;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   height:100vh;
   width:100vw;
   max-width:600px;
}

.header{
   margin:0 auto;
   width:100%;
   max-width:600px;
   padding-top: 50%; /* 50% for 2:1 aspect ratio */
   background-image: url('_images/header.png');
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: 0;
}

.game-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:0;
   z-index:1;
}

#puzzle {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   gap: 0px;
   width: 90vw;
   max-width: 400px;
   aspect-ratio: 1 / 1;
}

.piece {
   background-size: 400% 400%;
   cursor: pointer;
}

.piece.active {
   transform: scale(1.1);
   z-index: 10;
}

#countdown{
   visibility:hidden;
   margin:20px;
   font-size: 30px;
   font-weight: bold;
   text-align: center;
}

.hv-btn{
   cursor:pointer;
   position: relative;
   display:block;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 10px;
   border: 2px solid white;
   background-color: var(--green);
   color:white;
   width:45%;
   margin: 20px auto;
}

/* alerts ---------- */
.alert-container{
   position:absolute;
   display:none;
   left:0;
   top:0;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width:100vw;
   height:100vh;
   z-index:10;
}
.alert-container.active{
   display:flex;
}

.alert{
   display:none;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   background-color: var(--green);
   width:100%;
   max-width:600px;
   border-radius:20px;
   padding:10px;
   margin:20px;
   border:10px solid white;
}

.alert img{
   width:65%;
   height:auto;
}

.alert.on{
   display:flex;
}




/*
@media (max-width: 420px) {
body{
   border:5px red solid;
}
 }
*/
