html,
body{
   padding:0;
   margin:0;
   font-family: "AvenirNextLTPro-Medium";
   background-color:#E0D7C5;
   background-image: url('https://cdn.shopify.com/s/files/1/0593/5942/8759/files/bottom-wave.svg?v=1713310939');
   background-repeat:no-repeat;
   background-size:clamp(2500px, 150%, 100%);
   background-position:bottom;
   height:100vh;
   overflow:hidden;
}

*{
   box-sizing:border-box;
}


.landing-container-75th{
   position:relative;
   display:flex;
   justify-content:center;
   align-items: center;
   width:clamp(370px, 50vw, 800px);
   height:100vh;
   margin:0 auto;
   justify-content:center;
}

.landing-container-75th .page-continaer-75th{
   position:relative;
   width:100%;
}

/* title --------------------------------*/

.landing-container-75th .title{
   width:90%;
   margin: 0 auto;
}


/* list --------------------------------*/

.landing-container-75th .list-container{
   position:relative;
   display:block;
   line-height: 1.75rem;
   font-size: 1.25rem;
   z-index:100;
   transition:all .25s ease;

   .list{
      position:absolute;
      right:0;
      bottom:0;
      cursor: pointer;
      width:clamp(250px, 35%, 300px);
      padding:1rem;
      &:hover{
         transform: rotate(-10deg) scale(1.5);
      }
   }

}

.landing-container-75th .list-container.show{
   position:fixed;
   top:0;
   left:0;
   right:0;
   margin:0 auto;
   height: 100vh;
   padding:5vw;
   background-color:#E0D7C5;
   width:100%;

   .list{
      width:clamp(250px, 35%, 500px);
      position:relative;
      margin:0 auto;
   }

   ul{
      font-size: 22px;
      text-align: center;
      margin:0 auto;
      padding:0;
      font-weight: 800;
      line-height: 22px;
      list-style: none;

      li{
         margin:0 0 1rem 0;
      }
      span{
         display:block;
         font-size:16px;
      }
   }
}


/* form --------------------------------*/
.landing-container-75th .form-container{
   position:relative;
   display:flex;
   justify-content:center;
   justify-items: center;
   align-items: center;
   align-content: center;
   width:100%;
   height:60vh;
   background-image: url('https://cdn.shopify.com/s/files/1/0593/5942/8759/files/75th-bob-statue.png?v=1714076319');
   background-repeat:no-repeat;
   background-size:contain;
}

.landing-container-75th .form-container .message{
   text-align: center;
   background-color:#e0d7c5d8;
   margin: 3rem;
   height: 75%;
   padding:20px;
   border-radius: 20px;
   border:1px solid #fff;
   box-shadow: 0px 0px 33px 3px rgba(56, 40, 33, 0.39);
}

.landing-container-75th .form-container .message img{
   width:100%;
   max-width: 300px;
   margin: 0 auto;
}

.landing-container-75th .form-container .message p{
   margin:0;
   padding:0;
   text-align: center;
   font-size:22px;
   line-height: 28px;
   font-weight: 800;
   color:#382821
}


.landing-container-75th .form-container .form{
   width:50%;
   margin-left:50%;
}

.landing-container-75th .form-container .form .name{
  
}

.landing-container-75th .form-container .form .error_msg{
   font-size: 26px;
   margin-left:10px;
   color:#ff0000;
}

.landing-container-75th .form-container .form input{
   width:100%;
   font-size: 1.25rem;
   padding:.5rem;
   margin:.25rem;
   border-radius: 1ch;
   border:5px solid #ba8c3f;
}

.landing-container-75th .form-container .form .email.error input{
   border:5px solid #ff0000;
   color:#ff0000;
}

.landing-container-75th .form-container .form .submit_btn{
   cursor: pointer;
   width:150px;
   margin: 0 auto;
   &:hover{
      transform: rotate(-10deg) scale(1.5);
   }
}


/* sending */
.landing-container-75th .form-container .sending-message{
   
}

.landing-container-75th .form-container.sending .sending-message{
   
}


/* sent */
.landing-container-75th .form-container .sent-message{

}

.landing-container-75th .form-container.sent .sent-message{
   
}
