
:root{
   --green: #169346;
   --yellow: #f2d117;
   --red: #ec1c3c;
   --blue: #63bee1;
   --black:#000;
   --height:calc(100vh - 200px);
   --max-width:600px;
   --max-height:600px;

   @media screen and (max-width: 375px) {
      --height:calc(100vh - 125px);
   }
}

html,
body{
   padding:0;
   margin:0;
   font-family: "AvenirNextLTPro-Medium";
   background-color:#000;
   color:white;


   background-color: rgb(38, 33, 33);
   background-image: 
     linear-gradient(45deg, black 25%, transparent 25%), 
     linear-gradient(-45deg, black 25%, transparent 25%), 
     linear-gradient(45deg, transparent 75%, black 75%), 
     linear-gradient(-45deg, transparent 75%, black 75%);
   background-size: 200px 200px;
   background-position: 0 0, 0 100px, 100px -100px, -100px 0px;
   
}

*{
   box-sizing:border-box;
}

h1,h2{
   font-family: 'Harvard';
   letter-spacing: 1px;
}
h1{
   font-size: 42px;
   padding:0;
   margin:0;
}
h2{
   font-size: 28px;
}

.fit{
   width:100%;
   word-wrap: break-word;
}

.landing-container-hv{
   position:fixed;
   top:0;
   left:0;
   right:0;
   margin:0 auto;
   padding:0;
   width:100%; 
   height:100vh;
   z-index:1;
}

.scroller{
   position:relative;
   width:100%;
   height:200vh;
   z-index:0;
}

.landing-container-hv .page-continaer-hv{
   margin:0 auto;
   padding:0;
   position:relative;
   width:100%;
  /* background-color: var(--yellow);*/
}

/* title --------------------------------*/

.landing-container-hv .title {
   width: 120vw; /* Make the width larger than the viewport */
   min-height: 200px; /* Ensure the height stays the same */
   margin: 0 -10vw; /* Negative margins to center the element */
   background-image: url('https://cdn.shopify.com/s/files/1/0593/5942/8759/files/h-v-header-alt.png?v=1727375357&width=500');
   background-repeat: no-repeat;
   background-position: center top;
   background-size: contain;
   overflow: hidden; /* Hide any overflow */
}

@media screen and (max-width: 375px) {
   .landing-container-hv .title {
      min-height: 125px; /* Reduced height for smaller screens */
      background-position: center center; /* Adjust if needed */
   }
}
/* list --------------------------------*/


.landing-container-hv .list-container.show{
   position:fixed;
   top:0;
   left:0;
   right:0;
   margin:0 auto;
   height: 100vh;
   padding:5vw;
   background-color: var(--green);
   width:100%;
   cursor:pointer;
}

.landing-container-hv .list-container.show .list{
   width:clamp(250px, 35%, 500px);
      position:relative;
      margin:0 auto;
}

.landing-container-hv .list-container.show .close{
   position:absolute;
   top:5vw;
   right:5vw;
   width:2.5rem;
}

/* form --------------------------------*/
.landing-container-hv .form-container{
   position:relative;
   display:flex;
   justify-content:center;
   width:100%;
   height:var(--height);
   z-index: 0;
   overflow:visible;
}


.landing-container-hv .form-container .message{
   position:relative;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: var(--green);
   color:white;
   margin: 2rem;
   max-width: var(--max-width);
   min-height: var(--max-height);
   padding:20px;
   border-radius: 20px;
   border:3px solid #fff;
   box-shadow: 0px 0px 33px 3px rgba(56, 40, 33, 0.39);
   z-index:1;
}

.landing-container-hv .form-container .message img{
   width:100%;
   max-width: 300px;
   margin: 0 auto;
}

.landing-container-hv .form-container .message p{
   margin:10px;
   padding:0;
   text-align: center;
   font-size:22px;
   line-height: 28px;
   font-weight: 800;
   color:#fff;
}

.landing-container-hv .form-container .message p.resend span{
   cursor: pointer;
   text-decoration: underline;
}

.landing-container-hv .form-container .message p.resend span:hover{
   color:red;
}

.landing-container-hv .form-container .form{
   width:90%;
   max-width: 550px;
   z-index:1;
}


.landing-container-hv .form-container .form .sending{
   position:relative;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.landing-container-hv .form-container .form .form-header{
   text-align: center;
}

.landing-container-hv .form-container .form .form-header p{
   font-size: 18px;
   line-height: 22px;
}

.landing-container-hv .form-container .form .prize-btn{
   cursor:pointer;
   width:200px;
   margin:1rem auto;
}

.landing-container-hv .form-container .form .subscribe{
   width:100%;
   background-color:var(--yellow);
   color:var(--black);
   padding:.5rem;
   margin:.5rem;
   border-radius: 5px;
   border: 3px solid var(--yellow);
   font-size: .95rem;
}

.landing-container-hv .form-container .form .subscribe.error{
   border:3px solid red;
   color:red;
}

.landing-container-hv .form-container .form .subscribe input[type="checkbox"]{
   display: inline;
   align-items:baseline;
   width:auto;
   padding:2px;
   accent-color:var(--green);
}
.landing-container-hv .form-container .form .subscribe span{
   font-size: .85rem;
   display: inline;
   align-items:baseline;
}

.landing-container-hv .form-container .form .error_msg{
   font-size: 26px;
   margin-left:10px;
   color:#ff0000;
}

.landing-container-hv .form-container .form input{
   width:100%;
   font-size: 1.2rem;
   padding:.25rem;
   margin:.5rem;
   border-radius: 5px;
   border: 3px solid var(--yellow);
 
}

.landing-container-hv .form-container .form .email.error input{
   border:5px solid #ff0000;
   color:#ff0000;
}

.landing-container-hv .form-container .form .submit_btn{
   cursor: pointer;
   width:150px;
   background-color: var(--green);
   text-align:center;
   border-radius: 10px;
   /*border: 3px solid var(--yellow);*/
   margin: 0 auto;
}


.page-container{
   position:relative;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   height:100vh;
   width:100vw;
   max-width:600px;
}



.game-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   padding:0;
   z-index:1;
}

#puzzle {
   position:relative;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   gap: 0px;
   width: 90vw;
   max-width: 400px;
   aspect-ratio: 1 / 1;
   border:5px solid var(--green);
   border-radius: 5px;
}

.piece {
   background-size: 400% 400%;
   cursor: pointer;
}

.piece.active {
   transform: scale(1.1);
   z-index: 10;
}

#countdown{
   margin:10px;
   font-size: 25px;
   color:white;
   font-weight: bold;
   text-align: center;
}

#shuffleBtn.hv-btn{
   position:absolute;
   bottom:20px;
   left:0;
   right:0;
   margin:0 auto;
   width:200px;
   z-index:10;
}

.hv-btn{
   cursor:pointer;
   position: relative;
   display:block;
   padding: 10px 20px;
   text-align: center;
   font-size: 16px;
   border-radius: 10px;
   border: 2px solid white;
   background-color: var(--green);
   color:white;
   width:45%;
   margin: 10px auto;
}
.hv-btn h2{
   margin:0;
   padding:0;
}

/* alerts ---------- */
.alert-container{
   position:absolute;
   display:none;
   left:0;
   top:0;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width:100vw;
   height:100vh;
   z-index:10;
}
.alert-container.active{
   display:flex;
}

.alert{
   display:none;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   background-color: var(--green);
   width:100%;
   max-width:600px;
   border-radius:20px;
   padding:10px;
   margin:20px;
   border:10px solid white;
}

.alert img{
   width:65%;
   height:auto;
}

.alert.on{
   display:flex;
}




/*
@media (max-width: 420px) {
body{
   border:5px red solid;
}
 }
*/
