.hero-scroll {
    position: relative;
    width: 100vw;
    height: 90vh;
}

.hero-scroll .frame {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-scroll .frame-1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame1.jpg?v=1633366829");
    z-index: 5;
}
.hero-scroll .frame-2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame2.jpg?v=1633366845");
    z-index: 4;
}
.hero-scroll .frame-3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame3.jpg?v=1633366862");
    z-index: 3;
}
.hero-scroll .frame-4 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame4.jpg?v=1633366882");
    z-index: 2;
}
.hero-scroll .frame-5 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame5.jpg?v=1633366903");
    z-index: 1;
}
.hero-scroll .frame-6 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame6.jpg?v=1633366916");
    z-index: 0;
}

header-drawer {
    justify-self: start;
    margin-left: 5rem;
}

@media screen and (min-width: 990px) {
    header-drawer {
        display: none;
    }
}

.menu-drawer-container {
    display: flex;
}

.list-menu {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0;
}

.list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
}

summary.list-menu__item {
    padding-right: 2.7rem;
}

.list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
}

.list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 1.8;
}

@media screen and (min-width: 750px) {
    .list-menu__item--link {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
}

/* section-header */
#shopify-section-header {
    position: relative;
    width: 100%;
}

#shopify-section-header.sticky {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 3;
}

.shopify-section-header-sticky {
    /*position: sticky;
    top: 0;*/
}

.shopify-section-header-hidden {
    /*transform: translateY(-100%);*/
}

#shopify-section-header.animate {
    /*transition: transform 0.15s ease-out;*/
}

/* Main Header Layout */
.header-wrapper {
    display: block;
    position: relative;
    background-color: rgb(var(--color-background));
}

.header-wrapper--border-bottom {
    border-bottom-color: #b79668;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.header {
    display: grid;
    grid-template-areas: "left-icon heading icons";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (min-width: 990px) {
    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .header--has-menu:not(.header--middle-left) {
        padding-bottom: 0;
    }

    .header--top-left {
        grid-template-areas:
            "heading icons"
            "navigation navigation";
        grid-template-columns: 1fr auto;
    }

    .header--middle-left {
        grid-template-areas: "heading navigation icons";
        grid-template-columns: auto 1fr auto;
        column-gap: 2rem;
    }

    .header--top-center {
        grid-template-areas:
            "left-icon heading icons"
            "navigation navigation navigation";
    }

    .header--middle-left .header__inline-menu {
        min-width: 45rem;
    }

    .header:not(.header--middle-left) .header__inline-menu {
        margin-top: 1.05rem;
    }
}

.header *[tabindex="-1"]:focus {
    outline: none;
}

.header__heading {
    position: absolute;
    width: 250px;
    top: -85px;
    left: 5rem;
    margin: 0;
    line-height: 0;
    z-index: 10;
}

@media screen and (max-width: 1500px) {
    .header__heading {
        left: -10rem;
    }
}

@media screen and (max-width: 990px) {
    .header__heading {
        display: none;
    }
}

.header > .header__heading-link {
    display: block;
    width: 100%;
    line-height: 0;
}

.header__heading-logo {
    height: auto;
    width: 100%;
}

@media screen and (min-width: 990px) {
    .header__heading-link {
    }

    .header__heading,
    .header__heading-link {
        justify-self: start;
    }

    .header--top-center .header__heading-link,
    .header--top-center .header__heading {
        justify-self: center;
    }
}

/* Header icons */
.header__icons {
    display: flex;
    grid-area: icons;
    justify-self: end;
    padding-right: 5rem;
}

.header__icon:not(.header__icon--summary),
.header__icon span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__icon span {
    height: 100%;
}

.header__icon::after {
    content: none;
}

.header__icon:hover .icon,
.modal__close-button:hover .icon {
    transform: scale(1.07);
}

.header__icon .icon {
    height: 3rem;
    width: 3rem;
    fill: none;
    vertical-align: middle;
}

.header__icon,
.header__icon--cart .icon {
    height: 3.5rem;
    width: 3.5rem;
}

.header__icon .icon-search {
    height: 3rem;
    width: 3rem;
}

.header__icon--cart {
    position: relative;
    margin-right: -1.2rem;
}

@media screen and (max-width: 989px) {
    menu-drawer ~ .header__icons .header__icon--account {
        display: none;
    }
}

/* Search */
menu-drawer + .header__search {
    display: none;
}

.header > .header__search {
    grid-area: left-icon;
    justify-self: start;
}

.header:not(.header--has-menu) * > .header__search {
    display: none;
}

.header__search {
    display: inline-flex;
    line-height: 0;
    margin-right: 2rem;
}

.header--top-center > .header__search {
    display: none;
}

.header--top-center * > .header__search {
    display: inline-flex;
}

@media screen and (min-width: 990px) {
    .header:not(.header--top-center) * > .header__search,
    .header--top-center > .header__search {
        display: inline-flex;
    }

    .header:not(.header--top-center) > .header__search,
    .header--top-center * > .header__search {
        display: none;
    }
}

/* -------------------------- Header menu ----------------------------------------- */

.header__inline-menu details[open] > .header__submenu {
    opacity: 1;
    transform: translateY(0);
    animation: animateMenuOpen var(--duration-default) ease;
}

.header__inline-menu {
    padding-left: 9rem;
    grid-area: navigation;
    display: none;
}

.header--top-center,
.header--top-center .header__heading-link {
    margin-left: 0;
}

@media screen and (min-width: 990px) {
    .header__inline-menu {
        display: block;
        text-align: center;
    }

    .header--top-center .header__inline-menu {
        justify-self: center;
    }

    .header--top-center .header__inline-menu > .list-menu--inline {
        justify-content: center;
    }

    .header--middle-left .header__inline-menu {
        margin-left: 0;
    }
}

.header__menu {
    padding: 0 1rem;
}

.header__menu-item {
    font-family: AvenirNextLTPro-Bold;
    padding: 1.2rem;
    text-decoration: none;
    color: rgba(var(--color-foreground));
}

.header__menu-item:hover {
    color: #b79668;
}

.header__menu-item span {
    transition: text-decoration var(--duration-short) ease;
}

.header__menu-item svg {
    display: none;
}

/* main nav rollover */
.header__menu-item:hover span {
    /* text-decoration: underline;
    text-underline-offset: 5rem;*/
}

.header__active-menu-item {
    transition: text-decoration-thickness var(--duration-short) ease;
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.header__menu-item:hover .header__active-menu-item {
    text-decoration-thickness: 0.2rem;
}

.header__submenu {
    transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;
}

.header__submenu.list-menu {
    padding: 2rem 0;
}

.header__submenu .header__submenu {
    background-color: rgba(var(--color-foreground), 0.03);
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.header__submenu .header__menu-item:after {
    right: 2rem;
}

.header__submenu .header__menu-item {
    padding: 0.95rem 3.5rem 0.95rem 2rem;
}

.header__submenu .header__submenu .header__menu-item {
    padding-left: 3rem;
}

.header__menu-item .icon-caret {
    right: 0.8rem;
}

.header__submenu .icon-caret {
    right: 2rem;
}

details-disclosure > details {
    /*position: relative;*/
}

@keyframes animateMenuOpen {
    0% {
        opacity: 0;
        transform: translateY(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overflow-hidden-mobile,
.overflow-hidden-tablet {
    overflow: hidden;
}

@media screen and (min-width: 750px) {
    .overflow-hidden-mobile {
        overflow: auto;
    }
}

@media screen and (min-width: 990px) {
    .overflow-hidden-tablet {
        overflow: auto;
    }
}
