/* hero ----------------------------------------------------- */

.hero-scroll {
    position: relative;
    width: 100vw;
    height: 110vh;

    background-image: url('https://www.bobsburglar.com/img/bobs-burglar-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.hero-scroll .header-b-boy {
    position: absolute;
    width: 50vw;
    height: 90vw;
    left:0;
    right:0;
    margin:0 auto;
    bottom:0;
    overflow: hidden;
    z-index: 7;
    transition: all 0.75s ease;

}

.hero-scroll .header-b-boy .big-boy-container {
    position: absolute;
    width: 100%;
    bottom:0;
    transition: all 0.75s ease;
}

.hero-scroll .header-b-boy img {
    width: 100%;
    height: auto;
}