/* hero ----------------------------------------------------- */

#shopify-section-hero-scroll{
    height:100%;  
}

.hero-scroll {
    position: relative;
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

.hero-scroll .header-b-boy {
    position: absolute;
    cursor: pointer;
    width: 30rem;
    height: 55rem;
    left: 2rem;
    bottom: -11.7rem;
    overflow: hidden;
    z-index: 15;
    transition: all 0.75s ease;
}

.hero-scroll .header-b-boy .big-boy-container {
    position: absolute;
    width: 100%;
    bottom:-10rem;
    transition: all 0.75s ease;
}

.hero-scroll .header-b-boy img {
    width: 100%;
    height: auto;
}

.hero-scroll .header-b-boy.hide .big-boy-container{
    bottom:-45rem;
}

.hero-scroll #coupon{
    display:none;
}

.hero-scroll #coupon.on{
    display:flex;
    position:fixed;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    z-index:100;
    cursor:pointer;
}

.hero-scroll #coupon h2{
    padding:0;
    margin:0;
    font-size: 3.5rem;
}

.hero-scroll #coupon p{
    font-size: 1.5rem;
    line-height: 2rem;

}

.hero-scroll #coupon p strong{
    font-family: var(  --bold);
}

.hero-scroll #coupon .prize{
    width:30vw;
    max-width:450px;
    text-align: center;
    padding: 2rem 5rem;
    border: 2px var(--bob-gold) solid;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.85);

    animation-name: zoom-in;
    animation-duration: 1s;
}

.hero-scroll #coupon .prize .card{
    background-color: var(--bob-gold);
    border-radius: .5rem;
}

.hero-scroll #coupon .prize .card img{
    width:100%;
    height:auto;
}

.hero-scroll #coupon .prize button{
    display:block;
    margin:1rem 0;
    padding:1rem;
    color:white;
    border:none;
    width:100%;
    cursor:pointer;
    background-color: var(--bob-red);
}


@keyframes zoom-in {
    0% {
      transform: scale(.2)
    }
    95%{
        transform: scale(1.1) 
    }
    100% {
        transform: scale(var(--scale))
    }
  }


@media screen and (max-width: 1250px) {

    .hero-scroll .header-b-boy {
        left: 2rem;
        width: 20rem;
        height: 30rem;
    }
}

/* big boy header mobile */
@media screen and (max-width: 990px) {
    .hero-scroll .header-b-boy {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 45vw;
        max-width: 30rem;
        height: 50vw;
    }
}

.hero-scroll .frame {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    font-size: 72px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-scroll .frame-1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame1.jpg?v=1633366829");
    opacity: 0;

    animation-name: fadeOut;
    animation-duration: 2s;
    animation-iteration-count: 1;

    z-index: 5;
}

.hero-scroll .frame-2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame2.jpg?v=1633366845");
    opacity: 0;

    animation-delay: 0s, 2s;
    animation-name: fadeIn, fadeOut;
    animation-duration: 2s, 0.25s;
    animation-direction: normal, alternate;
    animation-iteration-count: 1, 6;

    z-index: 4;
}

.hero-scroll .frame-3 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame3.jpg?v=1633366862");
    opacity: 0;

    animation-delay: 0s, 3.5s;
    animation-name: fadeIn, fadeOut;
    animation-duration: 3.5s, 1s;
    animation-iteration-count: 1, 1;

    z-index: 3;
}

.hero-scroll .frame-4 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame4.jpg?v=1633366882");
    opacity: 0;

    animation-delay: 0s, 4.5s;
    animation-name: fadeIn, fadeOut;
    animation-duration: 4.5s, 1s;
    animation-iteration-count: 1, 1;

    z-index: 2;
}

.hero-scroll .frame-5 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame5.jpg?v=1633366903");
    opacity: 0;

    animation-delay: 0s, 5.5s;
    animation-name: fadeIn, fadeOut;
    animation-duration: 5.5s, 3s;
    animation-iteration-count: 1, 1;

    z-index: 1;
}

.hero-scroll .frame-6 {
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/frame6.jpg?v=1633366916");

    z-index: 0;
}

/* animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}


/* video hero -----------------------------------------------*/

.hero-scroll video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
    position: absolute;
    top: 0;
    left: 0;
    z-index:0;
  }

/* menu ----------------------------------------------------- */

header-drawer {
    justify-self: start;
    margin-left: 5rem;
}

@media screen and (min-width: 990px) {
    header-drawer {
        display: none;
    }
}

.menu-drawer-container {
    display: flex;
}

details.menu-drawer-container .menu-icon {
    display:block;
    width:2.9rem;
}


details.menu-drawer-container .close-icon {
    display:none;
    width:2.5rem;
}

details.menu-drawer-container[open] .menu-icon{
    display:none;
}

details.menu-drawer-container[open] .close-icon{
    display:block;
}


.list-menu {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0;
}

.list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
}

.list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
}

.list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 1.8;
}

@media screen and (min-width: 750px) {
    .list-menu__item--link {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
}

/* section-header Home page */

.home-page #shopify-section-header {
    position: relative;
    width: 100%;
}


#shopify-section-header a img{
    width:100%;
    height:auto;
}

.home-page #shopify-section-header.sticky {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Logo ----------------------------- */
.home-page #shopify-section-header .header__heading {
    position: absolute;
    width: 250px;
    top: -285px;
    visibility: hidden;
    opacity: 0;
    left: 5rem;
    margin: 0;
    line-height: 0;
    z-index: 2;

    transition: all 0.45s ease;
}


.home-page #shopify-section-header.sticky .header__heading {
    position: absolute;
    width: 250px;
    visibility: visible;
    opacity: 1;
    top: -70px;
    left: 5rem;
    margin: 0;
    line-height: 0;
    z-index: 2;
  
}


#shopify-section-header .header__heading {
    position: absolute;
    width: 250px;
    visibility: visible;
    opacity: 1;
    top: -70px;
    left: 4rem;
    margin: 0;
    line-height: 0;
    z-index: 2;
}

/* moving logo to left to prvent overlap */
@media screen and (max-width: 1250px) {
    #shopify-section-header .header__heading {
        left: -3.5rem !important;
    }
}

/* Logo mobile breakpoints */
@media screen and (max-width: 990px) {

    .home-page #shopify-section-header .header__heading {
        position: absolute;
        cursor: pointer;
        width:40vw;
        min-width: 175px;
        max-width: 220px;
        top: -7vw;
        left:0 !important;
        right:0;
        margin:0 auto;
        visibility: hidden;
        opacity: 0;
        line-height: 0;
        transition: all 0.25s ease;
    }
    
    
    .home-page #shopify-section-header.sticky .header__heading {
        position: absolute;
        width:40vw;
        min-width: 175px;
        max-width: 220px;
        top: -7vw;
        visibility: visible;
        opacity: 1;
        left:0 !important;
        right:0;
        margin:0 auto;
        line-height: 0;
        
    }

    /* secondary */
    #shopify-section-header .header__heading {
       cursor: pointer;
       left:0 !important;
       width:40vw;
       min-width: 175px;
       max-width: 220px;
       top: -7vw;
       right:0;
       margin:0 auto;
    }
}


/* section-header secondary page ---------------------------------- */

#shopify-section-header{
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 10;
}




/* Main Header Layout */
.header-wrapper {
    display: block;
    position: relative;
    background-color: rgb(var(--color-background));
}

.header-wrapper--border-bottom {
    border-bottom-color: #b79668;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.header {
    display: grid;
    grid-template-areas: "left-icon heading icons";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

@media screen and (min-width: 990px) {
    .header {
        height: 80px;
    }

    .header--has-menu:not(.header--middle-left) {
        padding-bottom: 0;
    }

    .header--top-left {
        grid-template-areas:
            "heading icons"
            "navigation navigation";
        grid-template-columns: 1fr auto;
    }

    .header--middle-left {
        grid-template-areas: "heading navigation icons";
        grid-template-columns: auto 1fr auto;
        column-gap: 2rem;
    }

    .header--top-center {
        grid-template-areas:
            "left-icon heading icons"
            "navigation navigation navigation";
    }

    .header--middle-left .header__inline-menu {
        min-width: 45rem;
    }

    .header:not(.header--middle-left) .header__inline-menu {
        margin-top: 1.05rem;
    }
}

.header *[tabindex="-1"]:focus {
    outline: none;
}


.header > .header__heading-link {
    display: block;
    width: 100%;
    line-height: 0;
}

.header__heading-logo {
    height: auto;
    width: 100%;
}

@media screen and (min-width: 990px) {
  
    .header__heading,
    .header__heading-link {
        justify-self: start;
    }

    .header--top-center .header__heading-link,
    .header--top-center .header__heading {
        justify-self: center;
    }
}

/* Header icons */
.header__icons {
    display: flex;
    grid-area: icons;
    justify-self: end;
    padding-right: 5rem;
}

.header__link{
    margin: 0 .5rem 0 .5rem;
    transition:all .25s ease;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    -ms-transition:all .25s ease;
    -o-transition:all .25s ease;
}

.header__icon:not(.header__icon--summary),
.header__icon span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__link :hover{
    color:var(--bob-gold);
}

.header__icon span {
    height: 100%;
}

.header__icon::after {
    content: none;
}

.header__icon:hover .icon,
.modal__close-button:hover .icon {
    transform: scale(1.07);
}

.header__icon .icon {
    height: 3rem;
    width: 3rem;
    fill: none;
    vertical-align: middle;
}

.header__icon,
.header__icon--cart .icon {
    height: 3.5rem;
    width: 3.5rem;
}

.header__icon .icon-search {
    height: 3rem;
    width: 3rem;
}

@media screen and (max-width: 320px) {

    .header__icon .icon-search {
        display:none;
    }
}

.header__icon--cart {
    position: relative;
    margin-right: -1.2rem;
}

@media screen and (max-width: 989px) {
    menu-drawer ~ .header__icons .header__icon--account {
        display: none;
    }
}

/* Search */
menu-drawer + .header__search {
    display: none;
}

.header > .header__search {
    grid-area: left-icon;
    justify-self: start;
}

.header:not(.header--has-menu) * > .header__search {
    display: none;
}

.header__search {
    display: inline-flex;
    line-height: 0;
}

.header--top-center > .header__search {
    display: none;
}

.header--top-center * > .header__search {
    display: inline-flex;
}

@media screen and (min-width: 990px) {
    .header:not(.header--top-center) * > .header__search,
    .header--top-center > .header__search {
        display: inline-flex;
    }

    .header:not(.header--top-center) > .header__search,
    .header--top-center * > .header__search {
        display: none;
    }
}

/* header icons mobile */
@media screen and (max-width: 540px) {

    header-drawer {
        justify-self: start;
        margin-left: 3rem;
    }
    

    details.menu-drawer-container .menu-icon {
        width:2rem;
    }
    details.menu-drawer-container .close-icon {
        width:1.8rem;
    }

    .header__icons {
        display: flex;
        grid-area: icons;
        justify-self: end;
        padding-right: 3rem;
    }

    .header__icon .icon {
        height: 2rem;
        width: 2rem;
        fill: none;
        vertical-align: middle;
    }
    
    .header__icon,
    .header__icon--cart .icon {
        height: 2.5rem;
        width: 2.5rem;
    }
    
    .header__icon .icon-search {
        height: 2rem;
        width: 2rem;
    }
    
    .header__icon--cart {
        position: relative;
        margin-right:0rem;
    }
}

/* -------------------------- Header menu ----------------------------------------- */

.header__inline-menu details[open] > .header__submenu {
    opacity: 1;
    transform: translateY(0);
    animation: animateMenuOpen var(--duration-default) ease;
}

.header__inline-menu {
    padding-left: 165px;
    grid-area: navigation;
    display: none;
}

.header--top-center,
.header--top-center .header__heading-link {
    margin-left: 0;
}

@media screen and (min-width: 990px) {

 
    .header__inline-menu {
        display: block;
        text-align: center;
    }

    .header--top-center .header__inline-menu {
        justify-self: center;
    }

    .header--top-center .header__inline-menu > .list-menu--inline {
        justify-content: center;
    }

    .header--middle-left .header__inline-menu {
        margin-left: 0;
    }
}

.header__menu {
    padding: 0 1rem;
}

/* main nav styles */
summary.header__menu-item {
    font-family: "AvenirNextLTPro-Bold";
    cursor: pointer;
    padding: 1.2rem 0 1.2rem 0;
    text-decoration: none;
    margin-right: 4rem;
    font-size: 2.65rem;
    color: rgba(var(--color-foreground));
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    height: 80px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1300px) {
    summary.header__menu-item {
        margin-right: 2.5rem;
        font-size: 2.3rem;
    }
}

summary.header__menu-item:hover {
    color: #b79668;
    border-bottom: 5px solid #b79668;
}

.header__menu-item span {
    transition: text-decoration var(--duration-short) ease;
}

.header__menu-item svg {
    display: none;
}

.header__active-menu-item {
    color: #e42948;
}

.header__menu-item:hover .header__active-menu-item {
    text-decoration-thickness: 0.2rem;
}

.header__submenu {
    transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;
}

.header__submenu summary.header__menu-item {
    height: auto;
    font-size: 2rem;
    border-bottom: none;
}

.header__submenu summary.header__menu-item:hover {
    color: #000000;
}

.header__submenu .header__menu-item {
    font-family: "AvenirNextLTPro-Bold";
    text-align:left;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0;
}

.header__submenu.list-menu {
    padding: 5rem;
}

.header__submenu .header__submenu {
    background-color: rgba(var(--color-foreground), 0.03);
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.header__submenu .header__menu-item:after {
    right: 2rem;
}

.header__submenu .header__menu-item {
    padding: 0.95rem 3.5rem 0.95rem 2rem;
}

.header__submenu .header__submenu .header__menu-item {
    padding-left: 3rem;
}

.header__menu-item .icon-caret {
    right: 0.8rem;
}

.header__submenu .icon-caret {
    right: 2rem;
}

header {
    height: 80px;
}

/*  -------------- secondary navigation --------------------- */


@media screen and (min-width: 990px) {

    .header__submenu{
        height: 50rem;
    }
    .header__submenu ul{
        display:flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
        max-width: 1500px;
    }
 
    .header__submenu li {
        display:flex;
        flex: 1;
        position: relative;
        padding:2rem;
        
    }

    .header__submenu li a {
        position: relative;
        cursor: pointer;
        display: block;
        width: 100%;;
        padding: 0 !important;
        margin: 0;
    }

    .header__submenu .header__menu-item {
        padding: 0;
    }

    .header__submenu li a .nav-image {
        position: relative;
        display: block;
        width: 100%;
        height: 25rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__submenu li a .nav-title {
        position: relative;
        display: block;
        margin-top: 1rem;
        width: 100%;
        font-size: 2.2rem;
        color:#e42948;
    }

    .header__submenu summary.header__menu-item a{
        margin: 0 0 1rem 0;
        font-size: 2.5rem;
        color:#e42948;
        text-decoration: none;
        padding:0;
    }

    .list-menu .list-menu .list-menu.header__submenu {
        display:block;
        text-align: left;
        background-color: transparent;
        margin: 0;
        padding: 0;
 
    }

    .list-menu .list-menu .list-menu.header__submenu li {
        display:block;
        font-size: 1.8rem;
        margin: 0;
        padding: 0 0 0.5rem 0;
    }

    .list-menu .list-menu .list-menu.header__submenu li a.header__menu-item{
        text-transform: capitalize;
        font-family: "AvenirNextLTPro-Medium";
        font-size: 1.8rem;
    }

    /* -------- images bg's if you rearrange the nav the order will change ----------------- */

    /* history -------------------------------------------------------------------- */

    /*  hide main level links on desltop */
    @media screen and (min-width: 990px) {
        .list-menu li.nav-history .header__submenu li.nav-history,
        .list-menu li.nav-menus .header__submenu li.nav-menus,
        .list-menu li.nav-events .header__submenu li.nav-events,
        .list-menu li.nav-photos .header__submenu li.nav-photos,
        .list-menu li.nav-shop .header__submenu li.nav-shop,
        .list-menu li.nav-history .header__submenu li.nav-history {
            display:none;
        }
    }
  


    .list-menu li.nav-history .header__submenu li.nav-opening .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/history.jpg?v=1631569447");
    }

    .list-menu li.nav-history .header__submenu li.nav-opening .nav-title,
    .list-menu li.nav-history .header__submenu li.nav-architecture .nav-title,
    .list-menu li.nav-history .header__submenu li.nav-the-beatles-booth .nav-title,
    .list-menu li.nav-history .header__submenu li.nav-filming-heat .nav-title  {
        text-align:left;

    }
    .list-menu li.nav-history .header__submenu li .nav-title:after{
        color:#000;
        display:block;
        font-size:1.6rem;
        padding-top:1rem;
        font-family: "AvenirNextLTPro-Medium";
        text-transform: none;
    }


    .list-menu li.nav-history .header__submenu li.nav-opening .nav-title:after {
        content:"Bob Wian and how the Big Boy® became an American icon.";
    }

    .list-menu li.nav-history .header__submenu li.nav-architecture .nav-title:after {
        content:"Wayne McAllister is known for his drive-ins and Las Vegas hotels.";
    }

    .list-menu li.nav-history .header__submenu li.nav-the-beatles-booth .nav-title:after {
        content:"John, Paul, George and Ringo ate here one night in 1965.";
    }

    .list-menu li.nav-history .header__submenu li.nav-filming-heat .nav-title:after {
        content:"Michael Mann's movie staring Deniro, Pacino, and Val Kilmer.";
    }

    .list-menu li.nav-history .header__submenu li.nav-architecture .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/mcallister.jpg?v=1631569696");
        
    }

    .list-menu li.nav-history .header__submenu li.nav-the-beatles-booth .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/beatles.jpg?v=1631569766");
     
    }

    .list-menu li.nav-history .header__submenu li.nav-filming-heat .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Val-Kilmer-Robert-DeNiro-Bobs-Big-Boy-HEAT.jpg?v=1631569894");
       
    }

    /* menus -------------------------------------------------------------------- */
    .list-menu li.nav-menus .header__submenu li.nav-burgers .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/burger.jpg?v=1633037381");
        background-size: 70%;
        background-position: bottom center;
        height: 30rem;
  
       
    }

    .list-menu li.nav-menus .header__submenu li.nav-milkshakes, 
    .list-menu li.nav-menus .header__submenu li.nav-burgers {
        padding: 0 2rem 2rem 2rem;
    }


    .list-menu li.nav-menus .header__submenu li.nav-milkshakes .nav-title, 
    .list-menu li.nav-menus .header__submenu li.nav-burgers .nav-title{
        text-align:center;
    }


    .list-menu li.nav-menus .header__submenu li.nav-milkshakes .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/milkshake.jpg?v=1633037393");
        background-size: contain;
        height: 30rem;
    }

   
    .list-menu li.nav-menus .header__submenu li.nav-breakfast li:last-child a,
    .list-menu li.nav-menus .header__submenu li.nav-lunch-dinner li:last-child a {
        margin-top: 2rem;
        font-family: "AvenirNextLTPro-Bold";
        text-transform: capitalize;
        color: #e62544;
    }

    /* events -------------------------------------------------------------------- */

    .list-menu li.nav-events .header__submenu li.nav-classic-car-show{
        flex-grow: 2;
    }

    .list-menu li.nav-events .header__submenu li.nav-classic-car-show .nav-title{
        text-align:center;
    }


    .list-menu li.nav-events .header__submenu li.nav-classic-car-show .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/cars.jpg?v=1634247469");
        background-size: contain;
    }

   
    .list-menu li.nav-events .header__submenu li.nav-fundraising li:nth-child(3) a{
        font-family: "AvenirNextLTPro-Bold";
        margin: 2rem 0 1rem 0;
        font-size: 2.5rem;
        text-transform: uppercase;
        color:#e42948;
    }
    

    .list-menu li.nav-events .header__submenu li.nav-big-boy-blog li:last-child a {
        margin-top: 2rem;
        font-family: "AvenirNextLTPro-Bold";
        text-transform: capitalize;
        color: #e62544;
    }

    /* photos */

    .list-menu li.nav-photos .header__submenu li .nav-title {
        text-align:center;
    }

    .list-menu li.nav-photos .header__submenu li.nav-outside .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/outside.jpg?v=1633039885");
    }

    .list-menu li.nav-photos .header__submenu li.nav-food .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/food.jpg?v=1633039899");
    }

    .list-menu li.nav-photos .header__submenu li.nav-inside .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/inside.jpg?v=1633039872");
    }

    /* shop */


    .list-menu li.nav-shop .header__submenu li.nav-seasoning-salt .nav-title, 
    .list-menu li.nav-shop .header__submenu li.nav-11-plushie .nav-title,
  .list-menu li.nav-shop .header__submenu li.nav-coin-bank .nav-title {
        text-align:center;
    }



    .list-menu li.nav-shop .header__submenu li.nav-apparel li:last-child a,
    .list-menu li.nav-shop .header__submenu li.nav-merchandise li:last-child a {
        margin-top: 1rem;
        color: #e62544;
        font-family: "AvenirNextLTPro-Bold";

    }

    .list-menu li.nav-shop  .header__submenu li.nav-seasoning-salt, 
    .list-menu li.nav-shop .header__submenu li.nav-11-plushie, 
  .list-menu li.nav-shop .header__submenu li.nav-bronze-paperweight {
       padding: 0 2rem 2rem 2rem;
    }

    .list-menu li.nav-shop  .header__submenu li.nav-merchandise li{
        padding: 0 0 0.5rem 0;
    }


    .list-menu li.nav-shop .header__submenu li.nav-seasoning-salt .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/MSG-3-shot.jpg?v=1679952786");
        background-size: 70%;
        background-position: bottom center;
        height: 30rem;
  
     
    }

    .list-menu li.nav-shop .header__submenu li.nav-bronze-paperweight .nav-image {
        background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/Bobs-Big-Boy-Paperweight-los-res.jpg?v=1679784822");
        background-size: contain;
        height: 30rem;
    }

 

/*  -------------------------------------------------- */


@keyframes animateMenuOpen {
    0% {
        opacity: 0;
        transform: translateY(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overflow-hidden-mobile,
.overflow-hidden-tablet {
    overflow: hidden;
}

@media screen and (min-width: 750px) {
    .overflow-hidden-mobile {
        overflow: auto;
    }
}

@media screen and (min-width: 990px) {
    .overflow-hidden-tablet {
        overflow: auto;
    }
}