:root {
  --bob-red:#e62544;
  --bob-gold:#e7c391;
  --bob-blue:#1e80ff;
  --scale: 1;

  --checker-board: black;
}

#shopify-section-header, 
#shopify-section-footer{
  display:none;
}

  .spin-win {
      position: relative;
      display:flex;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.75);
      width:100vw;
      height:100vh;
  }

  .spin-win  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
  }

  .spin-win  a{
    color:var(--bob-gold);
    font-size: 2rem;
  }

  .spin-win  a:hover{
    color:var(--bob-red)
  }

  /* ---------------- TITLE -------------------- */

  .spin-win .bg{
    position:relative;
    min-height:50vh;
    width: 100vw;
    height:100%;
    justify-content: center;
    align-self: center;
    overflow:hidden;
  }

  .claimed{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    min-height:50vh;
    z-index:1;
  }

  .claimed-box{
    text-align: center;
    border: 2px var(--bob-gold) solid;
    align-self: center;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.75);
    padding:11vw;
  }

  .checkerboard{

    position:absolute;
    width:100%;
    height: 35%;
    left:0;
    bottom:0;
    z-index: 0;

    clip-path: polygon(0 0, 100% 80%, 100% 100%, 0% 100%);
    /*border: 5px solid var(--bob-gold);*/
  
    background-image: linear-gradient(
      45deg,
      var(--checker-board) 25%,
      transparent 25%,
      transparent 75%,
      var(--checker-board) 75%,
      var(--checker-board)
    ),
    linear-gradient(
      -45deg,
      var(--checker-board) 25%,
      transparent 25%,
      transparent 75%,
      var(--checker-board)75%,
      var(--checker-board)
    );

    background-size: 60px 60px;
    background-repeat: repeat;

  }

  .spin-win #title{
    display:block;
    width:90vw;
    margin: 2rem auto 2rem auto;
    text-align: center;
  }

  .spin-win h2{
    font-family: "Harvard";
    color:var(--bob-red);
    font-size: 45px;
    margin:0 2rem;
    padding:0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

   /* ---------------- SPIN -------------------- */

  .game{
    position:relative;
    display:flex;
    justify-content: center;
    align-content: center;
    z-index:1;
    height:100%;

    border:1px solid red;

   }

  .spin-win #spin{
    position:relative;
    display:flex;
    align-self: center;
    transition: all ease .5s;
    transform-origin: center;
    width: 500px;
    height: 500px;

    border:1px solid green;
    
    animation-name: spin-in;
    animation-duration: 1s;
  }

  .spin-win  .game.shrink #spin{
    display:block;
    opacity: 0;
    transform: scale(.1);
  }

  .spin-win  .game.shrink.in #spin{
    display:none;
  }

  .spin-win .triangle{
    position:absolute;
    left:0;
    right:0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 12.5px 0 12.5px;
    border-color: #e7c391 transparent transparent transparent;
    z-index:300;
  }

 .spin-win .mainbox{
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
  }

  .spin-win  .box{
    position: relative;
    display:block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid var(--bob-gold);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.45);
    background-color: white;
    overflow: hidden;
    transition: all ease 5s;
  }

  .spin-win .box1{
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }

  .spin-win .box2{
    display: block;
    width: 100%;
    height: 100%;
  }

  .spin-win  .box1 span{
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: var(--bob-red);    
  }

  .spin-win  .box2 span{
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: white;
  }


  .spin-win  .top{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    top: 0;
    left: 120px;
  }
  
  .spin-win  .left{
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    top: 120px;
    left: 0;
  }

  .spin-win  .right{
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    top: 120px;
    right: 0;
  }

  .spin-win  .bottom{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    bottom: 0;
    left: 120px;
  }

  .spin-win   .top b{
    transform: translate(-50%, -50%) rotate(-85deg);
  }

  .spin-win  .left b{
    transform: translate(-50%, -50%) rotate(185deg);
  }

  .spin-win .right b{
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .spin-win .bottom b{
     transform: translate(-50%, -50%) rotate(-270deg);
  }

  .spin-win  span b{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    white-space: nowrap;
  }

  .spin-win  .box2 span b{
    color:var(--bob-red)
  }
  
  .spin-win .spin-btn{
    position: absolute;
    display:block;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

    width: 70px;
    height: 70px;

    border: 2px solid #fff;
    background-color: var(--bob-blue);
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
    color: #fff;
    padding-top:20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: all .25s ease;

  }

  .spin-win .spin-btn:active{
    width: 65px;
    height: 65px;
    font-size: 13px;
  }

  .gameboy{
    position:absolute;
    left:-550px;
    right:0;
    bottom:-50vh;
    margin:0 auto;
    width:250px;
    z-index:1;
  }

  .gameboy.jump{
    bottom:-5rem;
    transform: rotate(0deg);
    animation-name: pop-up ;
    animation-duration: 1.5s;
  }

  .gameboy img{
    width:100%;
    height:auto;
  }


  @keyframes pop-up {
    0% {
          bottom:-50vh;
        }
    93% {
          bottom:6rem;
          transform: rotate(20deg);
        }
    100% {
        bottom:-5rem;
        transform: rotate(0deg);
       }
  }

  @keyframes spin-in {
    0% {
      transform: scale(.2) rotate(2160deg);
    }
    100% {
        transform: scale(var(--scale)) rotate(0deg);
    }
  }



  /* ---------------- WIN -------------------- */

  .spin-win #win{
    position:relative;
    display:none;
    visibility: hidden;
    width:90vw;
    left:-200vw;
    margin:0 auto;
    max-width:500px;
    transition: all ease .75s;
    z-index:1;
  }

  .spin-win #win img{
    width:100%;
    height: auto;
  }
  
  .spin-win .game.in #win{
    display:block;
    left:0;
    visibility: visible;
  }

  .spin-win #win .email{ 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
    height: 4rem;
    margin:0 auto;
  }

  .spin-win #win #email{
    flex: 2;
    border:1px solid #ccc;
    font-size: 18px;
    padding:0 1rem;
    height: 4rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 
  }

  .spin-win #win .prize { 
      padding:0;
      margin:0;
      margin-top:2rem;
      border: 3px solid var(--bob-gold);
      border-radius: 1rem;
      background-color:  #c6a577;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
  }

  .spin-win #win .prize img{ 
      display: block;
      padding:0;
      margin:0;
      width:100%;
      height:auto;
  }

  .spin-win #win #submit_btn{
    width: 20%;
    height: 4rem;
    font-size: 13px;
    font-weight: 800;
    cursor: pointer;
    border:none;
    color:white;
    text-transform: uppercase;
    background-color: var(--bob-red);
    padding:1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    transition: all .25s ease;
  }

  .spin-win #win #submit_btn:hover{
    background-color: var(--bob-red);
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


/* ---------------- MEDIA -------------------- */

@media screen and (max-width: 600px) {

  :root {
    --scale: .8;
  }

  
  .spin-win #spin{
    /*transform-origin: top;*/
    transform: scale(.8);
  }

  .gameboy{
    left:-370px; 
    right:0;
    width:200px;
    z-index:1;
  }


}

@media screen and (max-width: 400px) {

  :root {
    --scale: .65;
  }

 

  .spin-win #spin{
    transform: scale(.65)
  }
}

@media screen and (max-width: 300px) {

  :root {
    --scale: .45;
  }

  .spin-win #spin{
    transform: scale(.45)
  }
}