
:root {
  --scale: 1;
  --bob-red:#e62544;
}

body,
html{
  margin:0;
  padding:0;
  color:black;
  background: #75d0f3;
  font-family: 'AvenirNextLTPro-Medium';
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

.title{
  position:relative;
  display:block;
  width:100%;
  margin: 0 auto 1rem auto;
  text-align: center;
  border:1px solid transparent;
}

.title h2{
   position:absolute;
   top:0;
   left:0;
   right:0;
   margin:0 auto;
   font-family: "StickyToffee";
   font-size: clamp(3rem, 5.5vw, 4.5rem);
   line-height: clamp(3.5rem, 6vw, 6rem);
   letter-spacing: 1px;
   padding:0;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.title h2:nth-child(1){
  color:var(--bob-red);
  z-index:3
}

.title h2:nth-child(2){
  color:white;
  -webkit-text-stroke: clamp(10px, 1vw, 17px) white;
  -webkit-text-fill-color: white;
  z-index:2
}

.title h2:nth-child(3){
  color:black;
  -webkit-text-stroke: clamp(20px, 2vw, 33px) black;
  -webkit-text-fill-color: black;
  z-index:1
}

.title .credits{
  margin-top:clamp(5rem, 6vw, 7rem);
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-transform: uppercase;
  font-family: 'AvenirNextLTPro-Bold';
}

.spin-win {
    position: relative;
    width:100vw;
    height:100vh;
    overflow: hidden;
}

.game{
  visibility: hidden;
}

.game.ready{
  position:absolute;
  display:flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  right:0;
  margin:0 auto;
  width:100vw;
  height:100vh;
  z-index:2;
}

.game-center{
  padding-bottom: 10vh;
  width:100%;
  max-width:600px;
 }

.game .game-center p{
  padding:clamp(.5rem, 2vw, 2rem);
  text-align: center;
}

.game .game-center p a{
  color:black;
  transition: all .25s ease;
}

.game .game-center p a:hover{
  color:var(--bob-red);
}


/* ---------------- SKY -------------------- */

.sky{
  position:absolute;
  display:flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index:1;
}

.sun{
  position:absolute;
  top:10%;
  right:20%;
  width:200px;
  height:200px;
  border-radius: 50%;
  background-color:#fdd538;
}

@media screen and (max-width: 600px) {
  .sun{
    right:-5rem;
  }
}

@media screen and (max-width: 400px) {
  .sun{}
}

@media screen and (max-width: 300px) {
  .sun{}
}


.cloud{
  position:absolute;
  width:200px;
  height:200px;
  border-radius: 50%;
  animation-name:cloud-float;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all .25s ease;
}

.cloud.one{
  top:5%;
  left:10%;
  animation-duration: 45s;
}

.cloud.two{
  top:30%;
  left:20%;
  animation-duration: 35s;
}

.cloud.three{
  top:15%;
  right:20%;
  animation-duration: 30s;
}

.cloud.four{
  top:35%;
  right:10%;
  animation-duration: 25s;
}


@keyframes cloud-float{
  0% {
      transform: scale(1)
    }
  50% {
      transform: scale(1.5) translateX(50%) translateY(10%)
  }
  100% {
    transform: scale(1)
  }
}


.bird{
  width: clamp(50px, 8vw, 200px);
  aspect-ratio: 1/1;
  animation-name: bird-fly;
  animation-iteration-count: infinite;
  transition: all .25s ease;
}

.time-1{
  padding: 1rem .5vw;
  animation-duration: 3s;
}

.time-2{
  padding: 3rem .5vw;
  animation-duration: 4s;
}

.time-3{
  padding: 1rem .5vw;
  animation-duration: 5s;
}

.bird img{
 width:100%;
 height:auto;
} 

.birds{
  position:absolute;
  display:flex;
  margin:0;
  padding:0;
  list-style: none;
}

.birds.left{
  top:30%;
  left:5%;
}

.birds.right{
  top:30%;
  right:5%;
}


@media screen and (max-width: 600px) {
  .birds.left{
    top:35%;
    left:-15%;
  }
  
  .birds.right{
    top:35%;
    right:-15%;
  }
}

@media screen and (max-width: 400px) {
  .birds.left{
    top:20%;
    left:0;
  }
  
  .birds.right{
    top:20%;
    right:0;
  }
}

@media screen and (max-width: 300px) {

}


@keyframes bird-fly {
  0% {
        margin:0;
        transform: scale(1.1) rotate(2deg)
      }
  15% {
        margin:10%;
        transform: scale(0.9) rotate(-1deg)
      }
  25% {
      margin:5%;
      transform: scale(1.3) rotate(5deg)
  }
  35% {
      margin:8%;
      transform: scale(1.1) rotate(0deg)
  }
  65% {
      margin:0%;
      transform: scale(0.7) rotate(-8deg)
  }
  85% {
      margin:5%;
      transform: scale(1.4) rotate(-2deg)
  }
  100% {
      margin:0%;
      transform: scale(1.1) rotate(3deg)
  }
}


  /* ---------------- BG -------------------- */

  .bg{
    position:absolute;
    visibility: visible;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    perspective: 100vw;
    z-index:0;
  }

  .checkerboard {
    position: absolute;
    width:200vw;
    height:100vh;
    left:-50%;
    bottom:-44%;
    background-image: url("https://cdn.shopify.com/s/files/1/0593/5942/8759/files/pattern_checkerboard_1_7_0-0_0_2__ffffff_000000.png?v=1664407865");
    background-repeat: repeat;
    background-size: 100%; 
    transform: rotatex(90deg);
    background-repeat: repeat;
    z-index: 0;
  }


  @media screen and (max-width: 600px) {
    .checkerboard {
      transform: rotatex(110deg);
    }
  }
  
  @media screen and (max-width: 400px) {
    .checkerboard {
      transform: rotatex(115deg);
    }
  }
  

  @media screen and (max-width: 300px) {
    .checkerboard {}
  }



   /* ---------------- SPIN -------------------- */

   .wheel{
     position:relative;
     width: clamp(300px, 40vw, 550px);
     aspect-ratio:1/1;
     border-radius: 50%;;
     margin: 0 auto;
     overflow:hidden;
     animation-name: spin-in;
     animation-duration: 1.5s;
   }

   .wheel ul{
    position:relative;
    margin:0;
    padding:0;
    list-style: none;
    width:100%;
    aspect-ratio:1/1;
    transition:transform 5s ease;
   }

   .reset-wheel .wheel ul{
     transition:transform 0s ease;
   }

   .wheel ul li{
      position:absolute;
      top:0;
      left:0;
      right:0;
      margin:0 auto;
      font-family: var(--bold);
      text-align: center;; 
      width:42%;
      height:50%;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      background:rgb(11, 241, 25, .15);
      transform-origin: bottom center;
      z-index:1;
   }

   
   .wheel ul li:nth-child(even){
        background:black;
        color:white;
   }

   .wheel ul li:nth-child(odd){
        background:white;
        color:black;
    }
    
   .wheel ul li .label{
      position:absolute;
      text-align: center;
      top:20%;
      width:100%;
      padding:0 25%;
      text-transform: uppercase;
      font-family:'AvenirNextLTPro-Bold';
      font-size: clamp(.7rem, 1.35vw, 1.5rem);
   }
   
   .arrow{
      position:absolute;
      top:0;
      left:0;
      right:0;
      margin:0 auto;
      width:clamp(1.5rem, 2rem, 3rem);
      aspect-ratio: 3/2;
      background:var(--bob-red);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transform: rotate(180deg);
      z-index:10;
   }

   .spin-btn .arrow{
      transform: rotate(0deg);
      top:-1rem;
   }

  .spin-btn{
     position:absolute;
     display:flex;
     align-items: center;
     justify-content: center;
     top: 50%;
     left: 50%; 
     transform: translate(-50%, -50%);
     width:45%;
     aspect-ratio:1/1;
     border-radius: 50%;;
     background:var(--bob-red);
     color:white;
     margin: 0 auto;
     overflow:visible;
     text-align: center;
     font-family: "StickyToffee";
     font-size: clamp(1.25rem, 3vw, 4.5rem);
     padding:1.5rem 3rem;
     cursor: pointer;
     transition: all .25s ease;
     z-index:10;
   }

   .spin-btn .accent{
      color:#fdd538;
   }

  .spin-btn:active{
    width:18vw;
    height:18vw;
    font-size: 4rem;
  }

  .spin-win .spin-btn.disable{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: var(--bob-blue);;
    cursor:auto;
  }

  .spin-win .spin-btn.disable:active{
    width: 70px;
    height: 70px;
    font-size: 15px;
  }



  /* --- GAMEBOY --------------------------------------------------- */

  .gameboy{
    position:absolute;
    opacity:1;
    left:10%;
    bottom:10vh;
    transform: rotate(0deg);
    width: clamp(16rem, 30vw, 30rem);
    transition: all 1.25s ease;
    transform: rotate(0);
    transform-origin: top;
    animation-name: pop-up;
    animation-duration: 1.5s;
    z-index:10;

    /* border:1px purple solid; */

  }

  .gameboy img{
    width:100%;
    height:auto;
  }


  @media screen and (max-width: 900px) {
    .gameboy{
       left:0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .gameboy{
       left:-6rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    .gameboy{
      left:-6rem;
   }
  }
  
  @media screen and (max-width: 300px) {
    .gameboy{}
  }

  @keyframes pop-up {
    0% {
          left:35%;
          bottom:-70vh;
          width:60vw;
        }
    85% {
          left:20%;
          bottom:45vh;
          transform: rotate(25deg);
         } 
    100% {
        bottom:10vh;
        transform: rotate(0deg);
        width:30vw;
       }
  }

  @keyframes spin-in {
    0% {
      transform: scale(.2) rotate(2160deg);
    }
    100% {
        transform: scale(var(--scale)) rotate(0deg);
    }
  }

 
  /* ---------------- WIN -------------------- */
    
  .spin-win .win {
      position: relative;
      display:block;
      margin:0 auto;
      width:90%;
   }

  .spin-win .win .email{ 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
    height:auto;
    min-height: 4rem;
    margin:0 auto;
  }


  .spin-win .win .email.error #email{ 
      border:3px solid var(--bob-red);
      color:var(--bob-red);
  }

  .spin-win .win #email{
    flex: 2;
    border:1px solid #ccc;
    font-size: 18px;
    padding:0 1rem;
    height: 4rem;
    text-align: center;
    color:black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 
  }

  .spin-win .win .prize { 
      position:relative;
      margin:0 0 .5rem 0;
  }

  .spin-win .win .prize .prize-title{
      position:absolute;
      top:0;
      right:0;
      width:40%;
      padding:1rem 0;
      text-align: center;
      font-size: clamp(.75rem, 1vw, 1rem);
      line-height: clamp(1.05rem, 1.5vw, 1.8rem);
      color:white;
   }

   .spin-win  .win .prize .prize-title h2{
      position:relative;
      display:block;
      color:#fdd538;
      font-family: "Harvard";
      font-size: clamp(1.25rem, 2vw, 2.5rem);
      line-height: clamp(1rem 2.5vw, 2.5rem);
      margin-bottom: clamp(1rem, 1vw, 1rem);
   }

   .spin-win .win .prize .prize-title h2::first-line{
        color:white;
        text-transform: uppercase;
        font-size: clamp(2rem, 3vw, 3rem);
        line-height: clamp(2rem, 3.5vw, 3rem);
   }

   .spin-win  .win .prize .prize-title a{
      color:white;
   }

  .spin-win .win .prize img{ 
      display: block;
      padding:0;
      margin:0;
      width:100%;
      height:auto;
  }

  .spin-win .win #email{
    font-size: clamp(1rem, 1.75vw, 1.75rem);
  }

  .spin-win .win .submit_btn{
    width: 35%;
    height: 4rem;
    font-size: clamp(1rem, .5vw, 1rem);
    font-weight: 800;
    cursor: pointer;
    border:none;
    color:white;
    text-transform: uppercase;
    background-color: var(--bob-red);
    padding:1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .25s ease;
  }

  .spin-win.show-prize  .win .submit_btn:hover{
    background-color: var(--bob-red);
  }

  .spin-win .spin-again{
     text-align: center;
  }

  .spin-win .spin-again h3{
    font-family: "StickyToffee";
    font-size: clamp(2rem, 3.5vw, 3rem);
    line-height: clamp(2.5rem, 4vw, 3.5rem);
    letter-spacing: 1px;
    color:var(--bob-red);
    padding:0;
    margin:.5rem 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .spin-win .spin-again h3.btn{
       cursor:pointer;
       transition: all .25s ease;
  }

  .spin-win .spin-again h3.btn:hover{
    cursor:pointer;
    transform:scale(1.2);
}

  .spin-win .spin-again div{
    font-family: "AvenirNextLTPro-Bold";
  }

  .spin-win .win p{
    padding:.5rem;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


  .spin-win .modal{
      position:absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top:0;
      left:0;
      width:100vw;
      height:100vh;
      z-index:500
  }

  .spin-win .modal ul{
    background-color: #e62544;
    color:white;
    margin:0;
    padding: 0;
    list-style: none;
    padding: 5vw 10vw;
    width:50vw;
    font-family: "StickyToffee";
    font-size: clamp(2rem, 3vw, 3rem);
    border-radius:2rem;
    border:5px solid white;
  }



/* ---------------- YOUR CODE -------------------- */

.title .discount-code{
    margin-top:clamp(5rem, 7.5vw, 7rem);
}

.title .discount-code h3{
  font-size: clamp(1rem, 2vw, 3rem);
  padding:0;
  margin:0;
  font-family: "AvenirNextLTPro-Bold";
  font-weight: 800;
}

.title .discount-code p{
  width:50%;
  padding:1.5rem;
  margin:0 auto;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

a.btn{
  display:inline-block;
  width:auto;
  font-size: clamp(1rem, 2vw, 3rem);
  font-family: "AvenirNextLTPro-Bold";
  font-weight: 800;
  color:white;
  background-color: var(--bob-red);
  padding:1rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.your-code .game .game-center p{
  padding:0;
  margin:0 auto;
}

.game .game-center p.warning{
  font-family: "AvenirNextLTPro-Bold";
  font-size: 1.35rem;
  font-weight: 800;
  color:var(--bob-red);

}

p.copyright{
  font-size: 12px;
  line-height: 14px;
}

/* ---------------- MEDIA -------------------- */

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 300px) {

}