

.pop-up-container{
    position:fixed;
    display:none;
    top:0;
    left:0;
    background:transparent;
    width:100vw;
    height:100vh;
    z-index:500;
}

.pop-up-container.show{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pop-up-container .form-container{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin:0 auto;
    background-color: #FFF;
    border:1px solid #666;
}

.pop-up-container .close{
    position:absolute;
    right:2rem;
    top:2rem;
    width:35px;
    height:35px;
    color: #000;
    cursor:pointer;
    transition: all .25s ease;
}

.pop-up-container .close:hover{
    transform: scale(1.5);
}

.pop-up-container .form{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5rem;
}

.pop-up-container .form .input{
    margin: 0 auto;
}

.pop-up-container .form h1{
    font-family: 'Harvard';
    font-size:5rem;
    color:#e62544;
    padding:0;
    margin:0;
}

.pop-up-container .form p{
    margin:0;
    padding:0;
    font-size:2rem;
}

.pop-up-container .submit_btn{
    text-align: center;
    text-transform: uppercase;
    color:white;
    background-color:#e62544;
}

.pop-up-container .input .errormsg{
    display:none;
    color:#e62544;
}

.pop-up-container .input.error .errormsg{
    display:block;
}

.pop-up-container .input.error input{
    color:#e62544;
    border: 1px solid #e62544;
}

.pop-up-container input, 
.submit_btn{
    font-size:2rem;
    width:100%;
    padding:.5rem;
    margin:.5rem 0;
    border: 1px solid #666;
}

.pop-up-container .sending{
    text-align: center;
    text-transform: uppercase;
}

.pop-up-container .left-col{
    width:450px;
    height:600px;
    z-index:10;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/1.png?v=1687211704);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.pop-up-container  .subscribed{
    display:none;
}


@media screen and (max-width: 790px) {
 /* mobile */
}


@keyframes smaple{
    from {
        transform:rotate(0deg) skew(0);
      }
    
      to {
        transform:rotate(15deg) skew(20deg);
      }
}






