

*{
    box-sizing: border-box;
}

.pop-up-btn{
   display:none;
   position:fixed;
   bottom:15rem;
   right:5rem;
   z-index:100;
   background-color: #e62544;
   border:1px solid #fff;
   color:#FFF;
   padding:1rem 2rem;
   font-weight: 800;
   font-size: 2rem;
   cursor:pointer;
   transition: all .25s ease;

   animation: btn-in;
   animation-duration: .75s;
}

.pop-up-btn:hover{
    transform:scale(1.25);
}

.pop-up-btn.on{
    display:block;
}

.pop-up-container{
    font-family: "AvenirNextLTPro-Medium";
    position:fixed;
    display:none;
    top:0;
    left:0;
    background:transparent;
    width:100vw;
    height:100vh;
    z-index:500;
}

.pop-up-container.show{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.pop-up-container .close{
    position:absolute;
    right:2rem;
    top:2rem;
    width:35px;
    height:35px;
    color: #000;
    cursor:pointer;
    transition: all .25s ease;
}

.pop-up-container .close:hover{
    transform: scale(1.5);
}


.pop-up-container .form-container{
    display:flex;
    margin:0 auto;
    background-color: #FFF;
    border:1px solid #666;
    width:75vw;
    min-width:300px;
    max-width:1000px;
}


.pop-up-container .left-col{
    width:50%;
    height:100%;
}

.pop-up-container img{
    width:100%;
    height:auto;
}

.pop-up-container .form{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5rem;
}

.pop-up-container .form .input{
    margin: 0 auto;
}

.pop-up-container .form h1{
    font-family: 'Harvard';
    font-size:5rem;
    line-height:5.5rem;
    color:#e62544;
    padding:0;
    margin:0;
}

.pop-up-container .form p{
    margin:0;
    padding:0;
    font-size:2rem;
    line-height: 2.5rem;
    margin-bottom:1rem;
}

.pop-up-container .submit_btn{
    text-align: center;
    text-transform: uppercase;
    color:white;
    background-color:#e62544;
    transition: all .25s ease;
}

.pop-up-container .submit_btn:hover{

}


/* ------------------------------- sending / sent */
.pop-up-container .form .errormsg{
    display:none;
    color:#e62544;
}

.pop-up-container .form.error .errormsg{
    display:block;
}

.pop-up-container .form.error input{
    color:#e62544;
    border: 1px solid #e62544;
}

.pop-up-container .form.sending .input,
.pop-up-container .form.sent .input{
     display:none;
}

.pop-up-container  .sent-msg,
.pop-up-container  .sending-msg{
    display:none;
}

.pop-up-container .form.sent .sent-msg,
.pop-up-container .form.sending .sending-msg{
    display:block;
}

.pop-up-container .msg{
    font-family: 'Harvard';
    font-size:5rem;
    line-height:5.5rem;
    color:#e62544;
}


/* ------------------------------------------ */




.pop-up-container input, 
.submit_btn{
    font-size:2rem;
    width:100%;
    padding:.5rem;
    margin:.5rem 0;
    border: 1px solid #666;
}

.pop-up-container .legal{
    margin-top:1rem;
    font-size:13px;
    line-height: 15px;
}


@media screen and (max-width: 1200px) {

    .pop-up-btn{
        bottom:90vh;
    }

    .pop-up-container.show{
        position:absolute;
        display:block;
        padding-top:5rem;
    }
    

    .pop-up-container .form-container{

        display:block;
        max-width:500px;
        margin:0 auto;
        left:0;
        right:0;
    }

    .pop-up-container .left-col{
        padding-top:5rem;
        width:100%;
    }

    .pop-up-container .form{
        padding-top:0;
        width:100%;
    }

    .pop-up-container .close{
        right:2rem;
        top:1rem;
        width:25px;
        height:25px;
    }

}


@keyframes btn-in {

    0%{
        transform: scale(.01);
    }
    80%{
        transform: scale(1.75);
        right:10rem;
    }
    100%{
        transform: scale(1);
    }
    
}






