

:root {
    --social-color:#b7966b;
    --social-accent:#3e1f1c;
  }



.pop-up-container{
    position:fixed;
    display:none;
    top:0;
    left:0;
    background:transparent;
    width:100vw;
    height:100vh;
    z-index:500;
}

.pop-up-container.show{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pop-up-container .form-container{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin:0 auto;
    background-color: #FFF;
    border:1px solid #666;
}

.pop-up-container .close{
    position:absolute;
    right:5rem;
    top:2rem;
    width:35px;
    height:35px;
    color: #000;
    cursor:pointer;
}

.pop-up-container .close:hover{

}

.pop-up-container .form{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5rem;
}

.pop-up-container .form .input{
    margin: 0 auto;
}

.pop-up-container .form h1{
    font-family: 'Harvard';
    font-size:3rem;
    padding:0;
    margin:0;
}

.pop-up-container .submit_btn{
    text-align: center;
    text-transform: uppercase;
    color:white;
    background-color: var(--social-accent);
}

.pop-up-container input, 
.submit_btn{
    font-size:1.5rem;
    width:100%;
    padding:.5rem;
    margin:.5rem 0;
    border: 1px solid var(--social-accent);
}

.pop-up-container .sending{
    text-align: center;
    text-transform: uppercase;
}

.pop-up-container .left-col{
    width:450px;
    height:600px;
    z-index:10;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/1.png?v=1687211704);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}



@media screen and (max-width: 790px) {

    .pop-up-container .form-container{
        bottom:0px;
        height:65vh;
    }

    .pop-up-container .form{
        width:100%;
        margin:0 2rem 0 35vw;
    }

    .pop-up-container .form h1{
        font-size:2rem;
    }

    .pop-up-container .left-col{
        position:absolute;
        left:-5rem;
        bottom:10vh;
        transform: scale(0.65);
    }
}


.pop-up-container  .subscribed{
    display:none;
}


@keyframes body{
    from {
        transform:rotate(0deg) skew(0);
      }
    
      to {
        transform:rotate(15deg) skew(20deg);
      }
}

@keyframes wave{
    from {
        transform:rotate(-5deg);
        top: 120px;
      }
    
      to {
        transform:rotate(10deg);
        top: 185px;
        right:-20px;
      }
}

@keyframes spin{
    from {
        transform:rotate(0deg) scale(.8);
      }
    
      to {
        transform:rotate(360deg) scale(1.5);
      }
}





