.header-top .xtra-info {
    text-align: center;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 4rem;
    padding: 0 0 0.25rem 0;
    color: #ffffff;
    background-color: #000000;
    z-index: 0;
}

.header-top .xtra-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-top .xtra-info ul li {
    display: inline-block;
    margin-right: 5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 3rem;
    vertical-align: top;
}

.header-top .xtra-info ul li:nth-child(1) {
    width: 86px;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/location.png?v=1631750323);
}
.header-top .xtra-info ul li:nth-child(2) {
    width: 112px;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/phone.png?v=1631750323);
}
.header-top .xtra-info ul li:nth-child(4) {
    width: 102px;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/num.png?v=1631750323);
}
.header-top .xtra-info ul li:nth-child(5) {
    width: 97px;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/hours.png?v=1631750323);
}

.header-top .xtra-info ul li a {
    color: transparent;
    text-decoration: none;
}

.xtra-info ul li.logo {
    display: none;
    width: 200px;
}
.xtra-info ul li.logo img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 990px) {
    #shopify-section-header .header-top .xtra-info ul li.logo {
        position: relative;
        display: inline-block;
        width: 200px;
        margin-top: -250px;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #shopify-section-header.sticky .header-top .xtra-info ul li.logo {
        position: relative;
        display: inline-block;
        width: 200px;
        margin-top: -55px;
        opacity: 1;
    }
}
