.header-top .xtra-info {
    text-align: center;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 37px;
    color: #ffffff;
    background-color: #000000;
    z-index: 0;
}

.header-top .xtra-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-top .xtra-info ul li {
    position:relative;
    display: inline-block;
    margin-right: 5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 37px;
    vertical-align: top;
}


.header-top .xtra-info ul li a{
    display: block;
    width:100%;
    height:100%;
    color:transparent;
}

.header-top .xtra-info ul li.location {
    width: 86px;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/location.png?v=1631750323);
}
.header-top .xtra-info ul li.phone {
    width: 112px;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/phone.png?v=1631750323);
}

.header-top .xtra-info ul li.space{
    margin-right: 0rem !important;
    width:0;
}

.header-top .xtra-info ul li.num{
    width: 102px;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/num.png?v=1631750323);
}

.header-top .xtra-info ul li.hours{
    width: 97px;
    background-image: url(https://cdn.shopify.com/s/files/1/0593/5942/8759/files/hours.png?v=1631750323);
}


@media screen and (max-width: 990px) {

    .header-top .xtra-info ul li {
        margin-right: 3rem;
    }

    .header-top .xtra-info ul li.space {
        margin-right: 3rem;
        width: 200px;
    }
}

@media screen and (max-width: 820px) {

    .header-top .xtra-info ul li {
        margin-right: .25rem;
    }
}

@media screen and (max-width: 680px) {

    .header-top .xtra-info ul li {
        margin-right: 1rem;
    }

    .header-top .xtra-info ul li.location,
    .header-top .xtra-info ul li.hours{
        display:none;
    }
}
